<app-common mainTitle="select_menus" *ngFor="let convertedData of convertedDatas" [activeTab]="'preview'"
    [codePreview]="convertedData.code" [codeHtml]="convertedData.code" [title]="convertedData.title">
    <div class="p-8 flex items-top justify-center bg-gray-100 ">
        <div class="w-full max-w-xl mx-auto ">
            <div [innerHTML]="convertedData.code | safeHtml" class="w-full "></div>
            <!-- <div class="stacked-list">
                <ul role="list">
                    <li *ngFor="let list of [1,2,3]">
                        <div>
                            <p class="content">
                                Tristique Senectus</p>
                        </div>
                    </li>

                </ul>
            </div> -->


        </div>
    </div>
</app-common>

<!-- <app-common mainTitle="select_menus" [activeTab]="'preview'" [codePreview]="convertedDatas[1].code"
    [codeHtml]="convertedDatas[1].code" [title]="convertedDatas[1].title">
    <div class="p-8 flex items-top justify-center bg-gray-100 ">
        <div class="w-full max-w-xs mx-auto ">
            <div class="stacked-list">
                <ul role="list">
                    <li *ngFor="let list of [1,2,3]">
                        <div>
                            <p class="content">Tristique Senectus</p>
                            <p class="content-small">
                                tristique@example.com</p>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</app-common>

<app-common mainTitle="select_menus" [activeTab]="'preview'" [codePreview]="convertedDatas[2].code"
    [codeHtml]="convertedDatas[2].code" [title]="convertedDatas[2].title">
    <div class="p-8 flex items-top justify-center bg-gray-100 ">
        <div class="w-full max-w-xl  mx-auto ">
            <div class="stacked-list__two___column">
                <ul role="list">
                    <li *ngFor="let list of [1,2,3]">
                        <div class="flex items-center">
                            <div class="flex min-w-0 flex-1 items-center">
                                <div class="min-w-0 flex-1 md:grid md:grid-cols-2 md:gap-4">
                                    <div class="ml-3">
                                        <p class="content">
                                            Tristique Senectus</p>
                                    </div>
                                    <div class="hidden md:block">
                                        <div class="ml-3">
                                            <p class="content">
                                                Turpis Egestas</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</app-common>


<app-common mainTitle="select_menus" [activeTab]="'preview'" [codePreview]="convertedDatas[2].code"
    [codeHtml]="convertedDatas[2].code" [title]="convertedDatas[2].title">
    <div class="p-8 flex items-top justify-center bg-gray-100 ">
        <div class="w-full max-w-xl  mx-auto ">
            <div class="stacked-list__two___column">
                <ul role="list">
                    <li *ngFor="let list of [1,2,3]">
                        <div class="flex items-center">
                            <div class="flex min-w-0 flex-1 items-center">
                                <div class="min-w-0 flex-1 md:grid md:grid-cols-2 md:gap-4">
                                    <div class="ml-3">
                                        <p class="content">
                                            Tristique Senectus</p>
                                        <p class="content-small">tristique@example.com</p>
                                    </div>
                                    <div class="hidden md:block">
                                        <div class="ml-3">
                                            <p class="content">
                                                Turpis Egestas</p>
                                            <p class="content-small">tristique@example.com</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</app-common> -->