<!-- <app-with-label>    </app-with-label>
<app-with-label-help-text></app-with-label-help-text>
<app-input-with-validation-error></app-input-with-validation-error> -->



<app-input-common *ngFor="let convertedData of convertedDatas" [activeTab]="'preview'" [codePreview]="convertedData.code" [codeHtml]="convertedData.code" [title]="convertedData.title"  >
    <div class="p-8 flex items-center justify-center bg-white"><div class="w-full max-w-xs mx-auto " ><div ><span [innerHtml]="convertedData.code | safeHtml"></span></div></div></div>
   
    
</app-input-common>





                