<app-with-label>    </app-with-label>
<app-with-label-help-text></app-with-label-help-text>
<app-input-with-validation-error></app-input-with-validation-error>

<app-input-common [activeTab]="'preview'" [codePreview]="componentCode" [title]="'Input common'"  >
    <div class="p-8 flex items-center justify-center bg-white"><div class="w-full max-w-xs mx-auto " ><div ><div class="form-control"> <label for="email" class="label">Email</label> <div class="mt-1"><input type="email" name="email" class="input" id="email"  placeholder="you@example.com"></div></div></div></div></div>
</app-input-common>

