<h1 class="text-2xl font-bold">Colors</h1>
<div class="py-6 space-y-8">
  <!-- Brand -->
  <div class="space-y-4 text-mini">
      
    <h3 class="cb-text-header-upper">Brand</h3>
                
      <div class="min-w-0 flex-1 grid grid-cols-5 xl:grid-cols-10 gap-x-2 gap-y-3">

        <div class="space-y-1.5 p-1.5 shadow">
          <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-brand-50">
          <p class="text-brand-600 text-copy text-center leading-none p-4">600</p>
        </div>
        <div class="px-0.5 md:flex md:justify-between md:space-x-2">
          <div class="w-6 font-bold text-neutral-600 2xl:w-full">50</div>
          <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#ffebe6</div>
        </div>

        </div>

        <div class="space-y-1.5 p-1.5 shadow">
          <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-brand-100">
            <p class="text-black text-copy text-center leading-none p-4 invisible"></p>
          </div>
          <div class="px-0.5 md:flex md:justify-between md:space-x-2">
            <div class="w-6 font-bold text-neutral-600 2xl:w-full">100</div>
            <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#ffd6cc</div>
          </div>
        </div>

        <div class="space-y-1.5 p-1.5 shadow">
          <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-brand-200">
            <p class="text-black text-copy text-center leading-none p-4 invisible"></p>
          </div>
          <div class="px-0.5 md:flex md:justify-between md:space-x-2">
            <div class="w-6 font-bold text-neutral-600 2xl:w-full">200</div>
            <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#ffad99</div>
          </div>
        </div>

        <div class="space-y-1.5 p-1.5 shadow">
          <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-brand-300">
            <p class="text-white text-copy text-center leading-none p-4 invisible"></p>
          </div>
          <div class="px-0.5 md:flex md:justify-between md:space-x-2">
            <div class="w-6 font-bold text-neutral-600 2xl:w-full">300</div>
            <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#ff8566</div>
          </div>
        </div>

        <div class="space-y-1.5 p-1.5 shadow">
          <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-brand-400">
            <p class="text-black text-copy text-center leading-none p-4 invisible"></p>
          </div>
          <div class="px-0.5 md:flex md:justify-between md:space-x-2">
            <div class="w-6 font-bold text-neutral-600 2xl:w-full">400</div>
            <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#ff5c33</div>
          </div>
        </div>

        <div class="space-y-1.5 p-1.5 shadow-lg">
          <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-brand-500">
            <p class="text-black text-copy text-center leading-none p-4 invisible"></p>
          </div>
          <div class="px-0.5 md:flex md:justify-between md:space-x-2">
            <div class="w-6 font-bold text-neutral-600 2xl:w-full">500</div>
            <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#ff3300</div>
          </div>
        </div>

        <div class="space-y-1.5 p-1.5 shadow">
          <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-brand-600">
            <p class="text-brand-50 text-copy text-center leading-none p-4"></p>
          </div>
          <div class="px-0.5 md:flex md:justify-between md:space-x-2">
            <div class="w-6 font-bold text-neutral-600 2xl:w-full">600</div>
            <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#cc2900</div>
          </div>
        </div>

        <div class="space-y-1.5 p-1.5 shadow">
          <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-brand-700">
            <p class="text-brand-50 text-copy text-center leading-none p-4"></p>
          </div>
          <div class="px-0.5 md:flex md:justify-between md:space-x-2">
            <div class="w-6 font-bold text-neutral-600 2xl:w-full">700</div>
            <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#991f00</div>
          </div>
        </div>
  
        <div class="space-y-1.5 p-1.5 shadow">
          <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-brand-800">
            <p class="text-brand-50 text-copy text-center leading-none p-4"></p>
          </div>
          <div class="px-0.5 md:flex md:justify-between md:space-x-2">
            <div class="w-6 font-bold text-neutral-600 2xl:w-full">800</div>
            <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#661400</div>
          </div>
        </div>
    
      <div class="space-y-1.5 p-1.5 shadow">
        <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-brand-900">
          <p class="text-brand-50 text-copy text-center leading-none p-4"></p>
        </div>
        <div class="px-0.5 md:flex md:justify-between md:space-x-2">
          <div class="w-6 font-bold text-neutral-600 2xl:w-full">900</div>
            <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#330a00</div>
        </div>
      </div>

    </div>
  </div>


   <!-- Primary -->
   <div class="space-y-4 text-mini">
      
    <h3 class="cb-text-header-upper">Primary</h3>
                
      <div class="min-w-0 flex-1 grid grid-cols-5 xl:grid-cols-10 gap-x-2 gap-y-3">

        <div class="space-y-1.5 p-1.5 shadow">
          <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-primary-50">
          <p class="text-primary-500 text-copy text-center p-4">500</p>
          </div>
          <div class="px-0.5 md:flex md:justify-between md:space-x-2">
            <div class="w-6 font-bold text-neutral-600 2xl:w-full">50</div>
              <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#e7eff6</div>
          </div>
        </div>

      <div class="space-y-1.5 p-1.5 shadow">
        <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-primary-100">
        <p class="text-black text-copy text-center p-4"></p>
        </div>
        <div class="px-0.5 md:flex md:justify-between md:space-x-2">
          <div class="w-6 font-bold text-neutral-600 2xl:w-full">100</div>
          <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#cedfed</div>
        </div>
      </div>

      <div class="space-y-1.5 p-1.5 shadow">
        <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-primary-200">
        <p class="text-black text-copy text-center p-4"></p>
        </div>
        <div class="px-0.5 md:flex md:justify-between md:space-x-2">
          <div class="w-6 font-bold text-neutral-600 2xl:w-full">200</div>
          <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#9dbfdb</div>
        </div>
      </div>

      <div class="space-y-1.5 p-1.5 shadow">
        <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-primary-300">
        <p class="text-black text-copy text-center p-4"></p>
        </div>
        <div class="px-0.5 md:flex md:justify-between md:space-x-2">
          <div class="w-6 font-bold text-neutral-600 2xl:w-full">300</div>
          <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#6d9fc9</div>
        </div>
      </div>

      <div class="space-y-1.5 p-1.5 shadow">
        <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-primary-400">
        <p class="text-black text-copy text-center p-4"></p>
        </div>
        <div class="px-0.5 md:flex md:justify-between md:space-x-2">
          <div class="w-6 font-bold text-neutral-600 2xl:w-full">400</div>
          <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#3c7fb7</div>
        </div>
      </div> 

      <div class="space-y-1.5 p-1.5 rounded shadow-lg">
        <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-primary-500">
        <p class="text-white text-copy text-center p-4">50</p>
        </div>
        <div class="px-0.5 md:flex md:justify-between md:space-x-2">
          <div class="w-6 font-bold text-neutral-600 2xl:w-full">500</div>
          <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#0b5fa5</div>
        </div>
      </div>

      <div class="space-y-1.5 p-1.5 shadow">
        <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-primary-600">
        <p class="text-white text-copy text-center p-4">50</p>
        </div>
        <div class="px-0.5 md:flex md:justify-between md:space-x-2">
          <div class="w-6 font-bold text-neutral-600 2xl:w-full">600</div>
          <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#094c84</div>
        </div>
      </div>

      <div class="space-y-1.5 p-1.5 shadow">
        <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-primary-700">
        <p class="text-white text-copy text-center p-4">50</p>
        </div>
        <div class="px-0.5 md:flex md:justify-between md:space-x-2">
          <div class="w-6 font-bold text-neutral-600 2xl:w-full">700</div>
          <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#073963</div>
        </div>
      </div> 

      <div class="space-y-1.5 p-1.5 shadow">
        <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-primary-800">
        <p class="text-white text-copy text-center p-4">50</p>
        </div>
        <div class="px-0.5 md:flex md:justify-between md:space-x-2">
          <div class="w-6 font-bold text-neutral-600 2xl:w-full">800</div>
          <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#042642</div>
        </div>
      </div> 

      <div class="space-y-1.5 p-1.5 shadow">
        <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-primary-900">
        <p class="text-white text-copy text-center p-4">50</p>
        </div>
        <div class="px-0.5 md:flex md:justify-between md:space-x-2">
          <div class="w-6 font-bold text-neutral-600 2xl:w-full">900</div>
          <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#021321</div>
          </div>
        </div>

          </div>
  </div>

  <!-- Neutral -->
  <div class="space-y-4 text-mini">

    <h3 class="cb-text-header-upper">Neutral</h3>
              
    <div class="min-w-0 flex-1 grid grid-cols-5 xl:grid-cols-10 gap-x-2 gap-y-3">

      <div class="space-y-1.5 p-1.5 shadow">
        <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-neutral-50">
        <p class="text-neutral-500 text-copy text-center p-4">500</p>
        </div>
        <div class="px-0.5 md:flex md:justify-between md:space-x-2">
          <div class="w-6 font-bold text-neutral-600 2xl:w-full">50</div>
            <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#f1f2f3</div>
        </div>
      </div>

      <div class="space-y-1.5 p-1.5 shadow">
        <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-neutral-100">
        <p class="text-neutral-500 text-copy text-center p-4">500</p>
        </div>
        <div class="px-0.5 md:flex md:justify-between md:space-x-2">
          <div class="w-6 font-bold text-neutral-600 2xl:w-full">100</div>
          <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#d9dddf</div>
        </div>
      </div>

      <div class="space-y-1.5 p-1.5 shadow">
        <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-neutral-200">
        <p class="text-neutral-500 text-copy text-center p-4"></p>
        </div>
        <div class="px-0.5 md:flex md:justify-between md:space-x-2">
          <div class="w-6 font-bold text-neutral-600 2xl:w-full">200</div>
          <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#b4bbbe</div>
        </div>
      </div>

      <div class="space-y-1.5 p-1.5 shadow">
        <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-neutral-300">
        <p class="text-neutral-800 text-copy text-center p-4"></p>
        </div>
        <div class="px-0.5 md:flex md:justify-between md:space-x-2">
          <div class="w-6 font-bold text-neutral-600 2xl:w-full">300</div>
          <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#8e989e</div>
        </div>
      </div>

      <div class="space-y-1.5 p-1.5 shadow">
        <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-neutral-400">
        <p class="text-white text-copy text-center p-4">White</p>
        </div>
        <div class="px-0.5 md:flex md:justify-between md:space-x-2">
          <div class="w-6 font-bold text-neutral-600 2xl:w-full">400</div>
          <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#69767d</div>
        </div>
      </div>

      <div class="space-y-1.5 p-1.5 rounded shadow-lg">
        <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-neutral-500">
        <p class="text-neutral-50 text-copy text-center p-4">50</p>
        </div>
        <div class="px-0.5 md:flex md:justify-between md:space-x-2">
          <div class="w-6 font-bold text-neutral-600 2xl:w-full">500</div>
          <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#43545d</div>
        </div>
      </div>

      <div class="space-y-1.5 p-1.5 shadow">
        <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-neutral-600">
        <p class="text-neutral-50 text-copy text-center p-4">50</p>
        </div>
        <div class="px-0.5 md:flex md:justify-between md:space-x-2">
          <div class="w-6 font-bold text-neutral-600 2xl:w-full">600</div>
          <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#36434a</div>
        </div>
      </div>

      <div class="space-y-1.5 p-1.5 shadow">
        <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-neutral-700">
        <p class="text-neutral-50 text-copy text-center p-4">50</p>
        </div>
        <div class="px-0.5 md:flex md:justify-between md:space-x-2">
          <div class="w-6 font-bold text-neutral-600 2xl:w-full">700</div>
          <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#283238</div>
        </div>
      </div>

      <div class="space-y-1.5 p-1.5 shadow">
        <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-neutral-800">
        <p class="text-neutral-50 text-copy text-center p-4">50</p>
        </div>
        <div class="px-0.5 md:flex md:justify-between md:space-x-2">
          <div class="w-6 font-bold text-neutral-600 2xl:w-full">800</div>
          <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#1b2225</div>
        </div>
      </div>

      <div class="space-y-1.5 p-1.5 shadow">
        <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-neutral-900">
        <p class="text-neutral-50 text-copy text-center p-4">50</p>
        </div>
        <div class="px-0.5 md:flex md:justify-between md:space-x-2">
          <div class="w-6 font-bold text-neutral-600 2xl:w-full">900</div>
          <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#0d1113</div>
          </div>
        </div> 

          </div>
    </div>


    <h2 class="cb-text-header-3 pt-4">Utility colours</h2>

    <!-- Red -->
    <div class="space-y-4 text-mini">

      <h3 class="cb-text-header-upper">Red</h3>
                
      <div class="min-w-0 flex-1 grid grid-cols-5 xl:grid-cols-10 gap-x-2 gap-y-3">

        <div class="space-y-1.5 p-1.5 shadow">
          <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-red-50">
          <p class="text-red-600 text-copy text-center p-4">600</p>
          </div>
          <div class="px-0.5 md:flex md:justify-between md:space-x-2">
            <div class="w-6 font-bold text-neutral-600 2xl:w-full">50</div>
              <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#ffe6e7</div>
          </div>
        </div>

        <div class="space-y-1.5 p-1.5 shadow">
          <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-red-100">
          <p class="text-red-500 text-copy text-center p-4"></p>
          </div>
          <div class="px-0.5 md:flex md:justify-between md:space-x-2">
            <div class="w-6 font-bold text-neutral-600 2xl:w-full">100</div>
            <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#fecccf</div>
          </div>
        </div>

        <div class="space-y-1.5 p-1.5 shadow">
          <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-red-200">
          <p class="text-neutral-500 text-copy text-center p-4"></p>
          </div>
          <div class="px-0.5 md:flex md:justify-between md:space-x-2">
            <div class="w-6 font-bold text-neutral-600 2xl:w-full">200</div>
            <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#fd999e</div>
          </div>
        </div>

        <div class="space-y-1.5 p-1.5 shadow">
          <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-red-300">
          <p class="text-neutral-500 text-copy text-center p-4"></p>
          </div>
          <div class="px-0.5 md:flex md:justify-between md:space-x-2">
            <div class="w-6 font-bold text-neutral-600 2xl:w-full">300</div>
            <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#fd666e</div>
          </div>
        </div>

        <div class="space-y-1.5 p-1.5 shadow">
          <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-red-400">
          <p class="text-neutral-500 text-copy text-center p-4"></p>
          </div>
          <div class="px-0.5 md:flex md:justify-between md:space-x-2">
            <div class="w-6 font-bold text-neutral-600 2xl:w-full">400</div>
            <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#fc333d</div>
          </div>
        </div>

        <div class="space-y-1.5 p-1.5 shadow-lg">
          <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-red-500">
          <p class="text-red-50 text-copy text-center p-4"></p>
          </div>
          <div class="px-0.5 md:flex md:justify-between md:space-x-2">
            <div class="w-6 font-bold text-neutral-600 2xl:w-full">500</div>
            <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#fb000d</div>
          </div>
        </div>

        <div class="space-y-1.5 p-1.5 shadow">
          <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-red-600">
          <p class="text-red-50 text-copy text-center p-4">50</p>
          </div>
          <div class="px-0.5 md:flex md:justify-between md:space-x-2">
            <div class="w-6 font-bold text-neutral-600 2xl:w-full">600</div>
            <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#c9000a</div>
          </div>
        </div>

        <div class="space-y-1.5 p-1.5 shadow">
          <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-red-700">
          <p class="text-red-50 text-copy text-center p-4">50</p>
          </div>
          <div class="px-0.5 md:flex md:justify-between md:space-x-2">
            <div class="w-6 font-bold text-neutral-600 2xl:w-full">700</div>
            <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#970008</div>
          </div>
        </div>

        <div class="space-y-1.5 p-1.5 shadow">
          <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-red-800">
          <p class="text-red-50 text-copy text-center p-4">50</p>
          </div>
          <div class="px-0.5 md:flex md:justify-between md:space-x-2">
            <div class="w-6 font-bold text-neutral-600 2xl:w-full">800</div>
            <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#640005</div>
          </div>
        </div>

        <div class="space-y-1.5 p-1.5 shadow">
          <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-red-900">
          <p class="text-red-50 text-copy text-center p-4">50</p>
          </div>
          <div class="px-0.5 md:flex md:justify-between md:space-x-2">
            <div class="w-6 font-bold text-neutral-600 2xl:w-full">900</div>
            <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#320003</div>
          </div>
        </div>

      </div>
    </div>

     <!-- Orange -->
    <div class="space-y-4 text-mini">

      <h3 class="cb-text-header-upper">orange</h3>
                
      <div class="min-w-0 flex-1 grid grid-cols-5 xl:grid-cols-10 gap-x-2 gap-y-3">

        <div class="space-y-1.5 p-1.5 shadow">
          <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-orange-50">
          <p class="text-orange-700 text-copy text-center p-4">700</p>
          </div>
          <div class="px-0.5 md:flex md:justify-between md:space-x-2">
            <div class="w-6 font-bold text-neutral-600 2xl:w-full">50</div>
              <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#fff1e6</div>
          </div>
        </div>

        <div class="space-y-1.5 p-1.5 shadow">
          <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-orange-100">
          <p class="text-orange-500 text-copy text-center p-4"></p>
          </div>
          <div class="px-0.5 md:flex md:justify-between md:space-x-2">
            <div class="w-6 font-bold text-neutral-600 2xl:w-full">100</div>
            <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#ffe3cc</div>
          </div>
        </div>

        <div class="space-y-1.5 p-1.5 shadow">
          <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-orange-200">
          <p class="text-neutral-500 text-copy text-center p-4"></p>
          </div>
          <div class="px-0.5 md:flex md:justify-between md:space-x-2">
            <div class="w-6 font-bold text-neutral-600 2xl:w-full">200</div>
            <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#ffc799</div>
          </div>
        </div>

        <div class="space-y-1.5 p-1.5 shadow">
          <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-orange-300">
          <p class="text-neutral-500 text-copy text-center p-4"></p>
          </div>
          <div class="px-0.5 md:flex md:justify-between md:space-x-2">
            <div class="w-6 font-bold text-neutral-600 2xl:w-full">300</div>
            <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#ffac66</div>
          </div>
        </div>

        <div class="space-y-1.5 p-1.5 shadow">
          <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-orange-400">
          <p class="text-neutral-500 text-copy text-center p-4"></p>
          </div>
          <div class="px-0.5 md:flex md:justify-between md:space-x-2">
            <div class="w-6 font-bold text-neutral-600 2xl:w-full">400</div>
            <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#ff9033</div>
          </div>
        </div>

        <div class="space-y-1.5 p-1.5 shadow-lg">
          <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-orange-500">
          <p class="text-orange-50 text-copy text-center p-4"></p>
          </div>
          <div class="px-0.5 md:flex md:justify-between md:space-x-2">
            <div class="w-6 font-bold text-neutral-600 2xl:w-full">500</div>
            <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#ff7400</div>
          </div>
        </div>

        <div class="space-y-1.5 p-1.5 shadow">
          <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-orange-600">
          <p class="text-orange-50 text-copy text-center p-4"></p>
          </div>
          <div class="px-0.5 md:flex md:justify-between md:space-x-2">
            <div class="w-6 font-bold text-neutral-600 2xl:w-full">500</div>
            <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#cc5d00</div>
          </div>
        </div>

        <div class="space-y-1.5 p-1.5 shadow">
          <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-orange-700">
          <p class="text-orange-50 text-copy text-center p-4">50</p>
          </div>
          <div class="px-0.5 md:flex md:justify-between md:space-x-2">
            <div class="w-6 font-bold text-neutral-600 2xl:w-full">700</div>
            <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#994600</div>
          </div>
        </div>

        <div class="space-y-1.5 p-1.5 shadow">
          <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-orange-800">
          <p class="text-orange-50 text-copy text-center p-4">50</p>
          </div>
          <div class="px-0.5 md:flex md:justify-between md:space-x-2">
            <div class="w-6 font-bold text-neutral-600 2xl:w-full">600</div>
            <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#662e00</div>
          </div>
        </div>

        <div class="space-y-1.5 p-1.5 shadow">
          <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-orange-900">
          <p class="text-orange-50 text-copy text-center p-4">50</p>
          </div>
          <div class="px-0.5 md:flex md:justify-between md:space-x-2">
            <div class="w-6 font-bold text-neutral-600 2xl:w-full">900</div>
            <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#331700</div>
            </div>
          </div>

        </div>
      </div>

    <!-- Green -->
    <div class="space-y-4 text-mini">

      <h3 class="cb-text-header-upper">Green</h3>
                
      <div class="min-w-0 flex-1 grid grid-cols-5 xl:grid-cols-10 gap-x-2 gap-y-3">

        <div class="space-y-1.5 p-1.5 shadow">
          <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-green-50">
          <p class="text-green-700 text-copy text-center p-4">700</p>
          </div>
          <div class="px-0.5 md:flex md:justify-between md:space-x-2">
            <div class="w-6 font-bold text-neutral-600 2xl:w-full">50</div>
              <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#e6f9eb</div>
          </div>
        </div>

        <div class="space-y-1.5 p-1.5 shadow">
          <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-green-100">
          <p class="text-green-500 text-copy text-center p-4"></p>
          </div>
          <div class="px-0.5 md:flex md:justify-between md:space-x-2">
            <div class="w-6 font-bold text-neutral-600 2xl:w-full">100</div>
            <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#ccf2d6</div>
          </div>
        </div>

        <div class="space-y-1.5 p-1.5 shadow">
          <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-green-200">
          <p class="text-neutral-500 text-copy text-center p-4"></p>
          </div>
          <div class="px-0.5 md:flex md:justify-between md:space-x-2">
            <div class="w-6 font-bold text-neutral-600 2xl:w-full">200</div>
            <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#99e5ad</div>
          </div>
        </div>

        <div class="space-y-1.5 p-1.5 shadow">
          <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-green-300">
          <p class="text-neutral-500 text-copy text-center p-4"></p>
          </div>
          <div class="px-0.5 md:flex md:justify-between md:space-x-2">
            <div class="w-6 font-bold text-neutral-600 2xl:w-full">300</div>
            <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#66d984</div>
          </div>
        </div>

        <div class="space-y-1.5 p-1.5 shadow">
          <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-green-400">
          <p class="text-neutral-500 text-copy text-center p-4"></p>
          </div>
          <div class="px-0.5 md:flex md:justify-between md:space-x-2">
            <div class="w-6 font-bold text-neutral-600 2xl:w-full">400</div>
            <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#33cc5b</div>
          </div>
        </div>

        <div class="space-y-1.5 p-1.5 shadow-lg">
          <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-green-500">
          <p class="text-green-50 text-copy text-center p-4"></p>
          </div>
          <div class="px-0.5 md:flex md:justify-between md:space-x-2">
            <div class="w-6 font-bold text-neutral-600 2xl:w-full">500</div>
            <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#00bf32</div>
          </div>
        </div>

        <div class="space-y-1.5 p-1.5 shadow">
          <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-green-600">
          <p class="text-green-50 text-copy text-center p-4"></p>
          </div>
          <div class="px-0.5 md:flex md:justify-between md:space-x-2">
            <div class="w-6 font-bold text-neutral-600 2xl:w-full">600</div>
            <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#009928</div>
          </div>
        </div>

        <div class="space-y-1.5 p-1.5 shadow">
          <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-green-700">
          <p class="text-green-50 text-copy text-center p-4">50</p>
          </div>
          <div class="px-0.5 md:flex md:justify-between md:space-x-2">
            <div class="w-6 font-bold text-neutral-600 2xl:w-full">700</div>
            <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#00731e</div>
          </div>
        </div>

        <div class="space-y-1.5 p-1.5 shadow">
          <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-green-800">
          <p class="text-green-50 text-copy text-center p-4">50</p>
          </div>
          <div class="px-0.5 md:flex md:justify-between md:space-x-2">
            <div class="w-6 font-bold text-neutral-600 2xl:w-full">800</div>
            <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#004c14</div>
          </div>
        </div>

        <div class="space-y-1.5 p-1.5 shadow">
          <div class="w-full rounded dark:ring-1 dark:ring-inset dark:ring-white/10 bg-green-900">
          <p class="text-green-50 text-copy text-center p-4">50</p>
          </div>
          <div class="px-0.5 md:flex md:justify-between md:space-x-2">
            <div class="w-6 font-bold text-neutral-600 2xl:w-full">900</div>
            <div class="text-neutral-500 font-mono lowercase dark:text-neutral-400">#00260a</div>
          </div>
        </div>

      </div>
    </div>

</div>

