<div class="cb-intro-copy">
  
  <p>Colors are an important element of any design system, as they can be used to convey meaning, create visual interest, and establish brand identity. Here are some guidelines for designing a color palette for a design system:</p>
  
  <ul>
    <li><strong>Establish a primary color palette:</strong> Choose a set of colors that will be used consistently throughout the design system. These should include a primary brand color and a range of supporting colors that can be used to create visual hierarchy and interest.</li>
    
    <li><strong>Use a limited number of colors:</strong> It's generally best to use a limited number of colors in a design system, as too many colors can create visual clutter and make it difficult for users to process information.</li>
    
    <li><strong>Consider accessibility:</strong> Choose colors that are accessible and legible for users with visual impairments. This may include using high-contrast color combinations and avoiding the use of color as the sole means of conveying information.</li>
    
    <li><strong>Use color consistently:</strong> Use the same colors consistently throughout the design system to create a cohesive visual identity. This includes using the same shades and tones of each color and applying them consistently across different UI elements.</li>
    
    <li><strong>Use color to convey meaning:</strong> Use color to convey meaning and create visual interest. For example, you might use a bright, bold color to indicate an error or a softer, muted color to indicate a warning.</li>
    
  </ul>
    
    <p>By following these guidelines, you can create a color palette that is cohesive, accessible, and effective in conveying meaning and establishing brand identity.</p>
  
  </div>
  
  <div class="py-2 space-y-16">
  <div>
    <!-- <p class="cb-text-copy-large mb-8">Color characterises our brand and supports the creation of unified product experiences.</p> -->
    <div class="max-w-3xl">
      <p class="cb-text-copy-regular">To ensure consumers see clearly what they need, we are dedicated to adhering to the AA standard contrast ratios for the <a href="http://www.w3.org/TR/WCAG/" target="_blank" class="underline text-primary-900">Web Content Accessibility Guidelines</a>.</p>
    </div>
  </div>

  <!-- Brand palette -->
  <div class="space-y-6">
    <div class="space-y-2 max-w-3xl">
      <h2 class="cb-text-h5">Brand palette</h2>
      <!-- <p class="cb-text-copy-regular">When and how to use these colours... coming soon.</p> -->
    </div>

    <!-- Brand -->
    <div class="space-y-1 text-mini">

      <div class="min-w-0 flex-1 grid grid-cols-5 xl:grid-cols-10 gap-y-3">

        <div class="color-box">
          <h3 class="cb-text-h6">CB Orange</h3>
          <div class="color-box__div bg-brand-500">
            <p class="text-brand-50 py-8 invisible"></p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">500</div>
            <div class="color-box__hex">#FF3300</div>
          </div>
        </div>

        <div class="color-box">
          <h3 class="cb-text-h6">CB Lime</h3>
          <div class="color-box__div bg-lime-500">
            <p class="text-lime-50 invisible"></p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">500</div>
            <div class="color-box__hex">#bff90b</div>
          </div>
        </div>

        <div class="color-box">
          <h3 class="cb-text-h6">Primary</h3>
          <div class="color-box__div bg-primary-800">
            <p class="text-primary-50 invisible"></p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">800</div>
            <div class="color-box__hex">#012a38</div>
          </div>
        </div>

        <!-- <div class="color-box">
          <h3 class="cb-text-h6">CB Ice</h3>
          <div class="color-box__div bg-[#a2c1c4]">
            <p class="text-lime-50 invisible"></p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">500</div>
            <div class="color-box__hex">#a2c1c4</div>
          </div>
        </div>

        <div class="color-box">
          <h3 class="cb-text-h6">CB Sand</h3>
          <div class="color-box__div bg-[#e0dbc6]">
            <p class="text-lime-50 invisible"></p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">500</div>
            <div class="color-box__hex">#a2c1c4</div>
          </div>
        </div> -->

      </div>
    </div>
    
  </div>

  <!-- Core UI palette -->
  <div class="space-y-6">
    <div class="space-y-2 max-w-3xl">
      <h2 class="cb-text-h5">Core UI palette</h2>
      <p class="cb-text-copy-regular">When a Neutral color is used for a UI element, the brightness itself can imply specific significance. When an element turns dark as you hover your mouse, this indicates that the element is clickable. A distinctively bright gray one indicates that the element has been disabled or expired.</p>
      <p class="cb-text-copy-regular">Neutral 700 or Neutral 800 is recommended for <b>body text</b>. The soft color of Neutral 700 naturally matches with a background. Therefore it is appropriate for a UI element with concrete function such as menu labels or buttons. If a content itself is empathized as headline, Neutral 800 can make a clearly readable text. Neutral 600 is handy because it is a brighter color compared to the body text yet read as disabled.</p>
      <p class="cb-text-copy-regular">We can see the <b>background</b> in white, but if you want to switch modes or separate spaces, light gray such as Neutral 50 or Neutral 100 can be chosen. Until recently, Neutral 50 which is fairly close to white wasn’t used. However, as display technology in digital devices advance and extremely simple designs come in trend, a very bright gray color started to appear in UI. For that reason, Neutral 100 can seem a bit old-fashioned, but it is affordable for low-end devices and users who don’t have clear eyesight. When separating spaces with color over Neutral 50 background, Neutral 100 is useful. You can use darker background color to represent status change such as active, hover for elements like buttons. In this case, 2 levels darker than normal buttons are suggested.</p>
      <p class="cb-text-copy-regular"><b>Stroke elements</b> use Neutral 300 and Neutral 400. Neutral 300 is affordable for strokes which divide compartments such as <code>hr</code>. Neutral 400 is appropriate for strokes implying boundary of forms or buttons can be operated.</p>
    </div>

    <!-- Primary -->
    <div class="space-y-1 text-mini">

      <h3 class="cb-text-h6">Primary</h3>

      <div class="min-w-0 flex-1 grid grid-cols-5 xl:grid-cols-10 gap-y-3">

        <!-- 
        <div class="color-box">
          <div class="color-box__div bg-primary-50">
            <p class="text-primary-700">700</p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">50</div>
            <div class="color-box__hex">#e6eaeb</div>
          </div>
        </div>
        <div class="color-box">
          <div class="color-box__div bg-primary-100">
            <p class="text-primary-700">700</p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">100</div>
            <div class="color-box__hex">#ccd4d7</div>
          </div>
        </div>

        <div class="color-box">
          <div class="color-box__div bg-primary-200">
            <p class="text-primary-800">800</p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">200</div>
            <div class="color-box__hex">#b3bfc3</div>
          </div>
        </div>

        <div class="color-box">
          <div class="color-box__div bg-primary-300">
            <p class="text-primary-800">800</p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">300</div>
            <div class="color-box__hex">#99aaaf</div>
          </div>
        </div>

        <div class="color-box">
          <div class="color-box__div bg-primary-400">
            <p class="text-primary-900">900</p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">400</div>
            <div class="color-box__hex">#80959c</div>
          </div>
        </div>

        <div class="color-box">
          <div class="color-box__div bg-primary-500">
            <p class="text-white">White</p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">500</div>
            <div class="color-box__hex">#5F7982</div>
          </div>
        </div>

        <div class="color-box">
          <div class="color-box__div bg-primary-600">
            <p class="text-primary-50">50</p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">600</div>
            <div class="color-box__hex">#4d6a74</div>
          </div>
        </div>

        <div class="color-box">
          <div class="color-box__div bg-primary-700">
            <p class="text-primary-50">50</p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">700</div>
            <div class="color-box__hex">#345560</div>
          </div>
        </div> -->

        <div class="color-box">
          <div class="color-box__div bg-primary-800">
            <p class="text-white">White</p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">800</div>
            <div class="color-box__hex">#012a38</div>
          </div>
        </div>

        <div class="color-box">
          <div class="color-box__div bg-primary-900">
            <p class="text-white">White</p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">900</div>
            <div class="color-box__hex">#01222d</div>
          </div>
        </div>

      </div>
    </div>

    <!-- Neutral -->
    <div class="space-y-1 text-mini">

      <h3 class="cb-text-h6">Neutral</h3>

      <div class="min-w-0 flex-1 grid grid-cols-5 xl:grid-cols-10  gap-y-3">

        <div class="color-box">
          <div class="color-box__div bg-neutral-50">
            <p class="text-neutral-700">700</p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">50</div>
            <div class="color-box__hex">#f8f9fa</div>
          </div>
        </div>

        <div class="color-box">
          <div class="color-box__div bg-neutral-100">
            <p class="text-neutral-700">700</p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">100</div>
            <div class="color-box__hex">#f1f3f5</div>
          </div>
        </div>

        <div class="color-box">
          <div class="color-box__div bg-neutral-200">
            <p class="text-neutral-700">700</p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">200</div>
            <div class="color-box__hex">#e9ecef</div>
          </div>
        </div>

        <div class="color-box">
          <div class="color-box__div bg-neutral-300">
            <p class="text-neutral-700">700</p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">300</div>
            <div class="color-box__hex">#dee2e6</div>
          </div>
        </div>

        <div class="color-box">
          <div class="color-box__div bg-neutral-400">
            <p class="text-neutral-800">800</p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">400</div>
            <div class="color-box__hex">#ced4da</div>
          </div>
        </div>

        <div class="color-box">
          <div class="color-box__div bg-neutral-500">
            <p class="text-neutral-800">800</p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">500</div>
            <div class="color-box__hex">#adb5bd</div>
          </div>
        </div>

        <div class="color-box">
          <div class="color-box__div bg-neutral-600">
            <p class="text-neutral-900">900</p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">600</div>
            <div class="color-box__hex">#868e96</div>
          </div>
        </div>

        <div class="color-box">
          <div class="color-box__div bg-neutral-700">
            <p class="text-neutral-300">300</p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">700</div>
            <div class="color-box__hex">#495057</div>
          </div>
        </div>

        <div class="color-box">
          <div class="color-box__div bg-neutral-800">
            <p class="text-neutral-300">300</p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">800</div>
            <div class="color-box__hex">#343a40</div>
          </div>
        </div>

        <div class="color-box">
          <div class="color-box__div bg-neutral-900">
            <p class="text-neutral-300">300</p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">900</div>
            <div class="color-box__hex">#212529</div>
          </div>
        </div>

      </div>
    </div>

  </div>

  <!-- Semantic palette -->
  <div>
    <div class="space-y-6">
      <div class="space-y-2 max-w-3xl">
        <h2 class="cb-text-h5">Semantic palette</h2>
        <!-- <p class="cb-text-copy-regular">When and how to use these colours... coming soon.</p> -->
      </div>

    <!-- Info -->
    <div class="space-y-1 text-mini">

      <h3 class="cb-text-h6">Info</h3>

      <div class="min-w-0 flex-1 grid grid-cols-5 xl:grid-cols-10 gap-y-3">

        <div class="color-box">
          <div class="color-box__div bg-info-50">
            <p class="text-info-900">900</p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">50</div>
            <div class="color-box__hex">#e7f5ff</div>
          </div>
        </div>

        <div class="color-box">
          <div class="color-box__div bg-info-100">
            <p class="text-info-900"></p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">100</div>
            <div class="color-box__hex">#d0ebff</div>
          </div>
        </div>

        <div class="color-box">
          <div class="color-box__div bg-info-200">
            <p class="text-neutral-800"></p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">200</div>
            <div class="color-box__hex">#a5d8ff</div>
          </div>
        </div>

        <div class="color-box">
          <div class="color-box__div bg-info-300">
            <p class="text-neutral-800"></p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">300</div>
            <div class="color-box__hex">#74c0fc</div>
          </div>
        </div>

        <div class="color-box">
          <div class="color-box__div bg-info-400">
            <p class="text-neutral-900"></p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">400</div>
            <div class="color-box__hex">#4dabf7</div>
          </div>
        </div>

        <div class="color-box">
          <div class="color-box__div bg-info-500">
            <p class="text-white"></p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">500</div>
            <div class="color-box__hex">#339af0</div>
          </div>
        </div>

        <div class="color-box">
          <div class="color-box__div bg-info-600">
            <p class="text-neutral-50"></p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">600</div>
            <div class="color-box__hex">#228be6</div>
          </div>
        </div>

        <div class="color-box">
          <div class="color-box__div bg-info-700">
            <p class="text-neutral-50"></p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">700</div>
            <div class="color-box__hex">#1c7ed6</div>
          </div>
        </div>

        <div class="color-box">
          <div class="color-box__div bg-info-800">
            <p class="text-neutral-50">White</p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">800</div>
            <div class="color-box__hex">#1971c2</div>
          </div>
        </div>

        <div class="color-box">
          <div class="color-box__div bg-info-900">
            <p class="text-info-50">50</p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">900</div>
            <div class="color-box__hex">#1864ab</div>
          </div>
        </div>

      </div>
    </div>

      <!-- Red -->
      <div class="space-y-1 text-mini">

        <h3 class="cb-text-h6">Red</h3>

        <div class="min-w-0 flex-1 grid grid-cols-5 xl:grid-cols-10  gap-y-3">

          <div class="color-box">
            <div class="color-box__div bg-red-50">
              <p class="text-red-900">900</p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">50</div>
              <div class="color-box__hex">#fff5f5</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-red-100">
              <p class="text-red-900">900</p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">100</div>
              <div class="color-box__hex">#ffe3e3</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-red-200">
              <p class="text-red-500 invisible"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">200</div>
              <div class="color-box__hex">#ffc9c9</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-red-300">
              <p class="text-red-500 invisible"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">300</div>
              <div class="color-box__hex">#ffa8a8</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-red-400">
              <p class="text-white invisible"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">400</div>
              <div class="color-box__hex">#ff8787</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-red-500">
              <p class="text-white"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">500</div>
              <div class="color-box__hex">#ff6b6b</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-red-600">
              <p class="text-white"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">600</div>
              <div class="color-box__hex">#fa5252</div>
            </div>
          </div>

           <div class="color-box">
            <div class="color-box__div bg-red-700">
              <p class="text-red-50 invisible"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">700</div>
              <div class="color-box__hex">#f03e3e</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-red-800">
              <p class="text-red-50">White</p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">800</div>
              <div class="color-box__hex">#e03131</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-red-900">
              <p class="text-red-50">50</p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">900</div>
              <div class="color-box__hex">#c92a2a</div>
            </div>
          </div>

        </div>
      </div>

      <!-- Orange -->
      <div class="space-y-1 text-mini">

        <h3 class="cb-text-h6">Orange</h3>

        <div class="min-w-0 flex-1 grid grid-cols-5 xl:grid-cols-10  gap-y-3">

          <div class="color-box">
            <div class="color-box__div bg-orange-50">
              <p class="text-orange-900">900</p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">50</div>
              <div class="color-box__hex">#FFF9EC</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-orange-100">
              <p class="text-orange-900"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">100</div>
              <div class="color-box__hex">#FEF3D9</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-orange-200">
              <p class="text-orange-500 invisible"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">200</div>
              <div class="color-box__hex">#FEE7B3</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-orange-300">
              <p class="text-orange-500 invisible"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">300</div>
              <div class="color-box__hex">#FDDC8D</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-orange-400">
              <p class="text-white invisible"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">400</div>
              <div class="color-box__hex">#FDD067</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-orange-500">
              <p class="text-orange-900"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">500</div>
              <div class="color-box__hex">#FCC441</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-orange-600">
              <p class="text-orange-900"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">600</div>
              <div class="color-box__hex">#CA9D34</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-orange-700">
              <p class="text-orange-50 invisible"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">700</div>
              <div class="color-box__hex">#977627</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-orange-800">
              <p class="text-orange-50 invisible"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">800</div>
              <div class="color-box__hex">#654E1A</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-orange-900">
              <p class="text-orange-50">50</p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">900</div>
              <div class="color-box__hex">#32270D</div>
            </div>
          </div>

        </div>
      </div>

      <!-- Green -->
      <div class="space-y-1 text-mini">

        <h3 class="cb-text-h6">Green</h3>

        <div class="min-w-0 flex-1 grid grid-cols-5 xl:grid-cols-10  gap-y-3">

          <div class="color-box">
            <div class="color-box__div bg-green-50">
              <p class="text-green-900">900</p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">50</div>
              <div class="color-box__hex">#ECF9EB</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-green-100">
              <p class="text-green-900"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">100</div>
              <div class="color-box__hex">#D8F3D7</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-green-200">
              <p class="text-green-500 invisible"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">200</div>
              <div class="color-box__hex">#B2E7AF</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-green-300">
              <p class="text-green-500 invisible"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">300</div>
              <div class="color-box__hex">#8BDC86</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-green-400">
              <p class="text-white invisible"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">400</div>
              <div class="color-box__hex">#65D05E</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-green-500">
              <p class="text-green-900"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">500</div>
              <div class="color-box__hex">#3EC436</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-green-600">
              <p class="text-green-900"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">600</div>
              <div class="color-box__hex">#329D2B</div>
            </div>
          </div>
        
          <div class="color-box">
            <div class="color-box__div bg-green-700">
              <p class="text-green-50 invisible"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">700</div>
              <div class="color-box__hex">#257620</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-green-800">
              <p class="text-green-50 invisible"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">800</div>
              <div class="color-box__hex">#194E16</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-green-900">
              <p class="text-green-50">50</p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">900</div>
              <div class="color-box__hex">#0C270B</div>
            </div>
          </div>


        </div>
      </div>

    </div>

</div>