<p class="cb-text-copy-large mt-4 max-w-3xl leading-6">The design principle of grouping refers to
  the organization of elements within a user interface in a way that helps
  users understand the relationships between them and the hierarchy of information. In a SaaS app
  design system, grouping
  can be used to create a clear and organized visual structure for the user interface.
</p>
<!-- Main area starts -->
<div class="border-b border-neutral-200 pb-8"></div>




<div class="py-2 space-y-16">
  <div>
    <!-- <p class="cb-text-copy-large mb-8">Color characterises our brand and supports the creation of unified product experiences.</p> -->
    <div class="max-w-3xl">
      <p class="cb-text-copy-regular">To ensure consumers see clearly what they need, we are dedicated to adhering
        to
        the AA standard contrast ratios for the <a href="http://www.w3.org/TR/WCAG/" target="_blank"
          class="underline text-primary-900">Web Content Accessibility Guidelines</a>.</p>
    </div>
  </div>

  <!-- Brand palette -->
  <div class="space-y-6">
    <div class="space-y-2 max-w-3xl" id="c1">
      <h2 class="cb-text-h5">Brand palette</h2>
      <!-- <p class="cb-text-copy-regular">When and how to use these colours... coming soon.</p> -->
    </div>

    <!-- Brand -->
    <div class="space-y-1 text-mini">

      <div class="min-w-0 flex-1 grid grid-cols-5 xl:grid-cols-5 gap-y-3">

        <div class="color-box">
          <h3 class="cb-text-h6">Brand one</h3>
          <div class="color-box__div bg-brand-500">
            <p class="text-brand-50 py-8 invisible"></p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">500</div>
            <div class="color-box__hex">#FF3300</div>
          </div>
        </div>

        <div class="color-box">
          <h3 class="cb-text-h6">Brand two</h3>
          <div class="color-box__div bg-primary-800">
            <p class="text-primary-50 invisible"></p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">800</div>
            <div class="color-box__hex">#012a38</div>
          </div>
        </div>

        <div class="color-box">
          <h3 class="cb-text-h6">Brand three</h3>
          <div class="color-box__div bg-[#bff90b]">
            <p class="invisible"></p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">500</div>
            <div class="color-box__hex">#bff90b</div>
          </div>
        </div>

        <div class="color-box">
          <h3 class="cb-text-h6">Brand four</h3>
          <div class="color-box__div bg-info-100">
            <p class="text-brandaccent-50 invisible"></p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">500</div>
            <div class="color-box__hex">#D0E0E1</div>
          </div>
        </div>

        <!-- <div class="color-box">
          <h3 class="cb-text-h6">CB Ice</h3>
          <div class="color-box__div bg-[#a2c1c4]">
            <p class="text-lime-50 invisible"></p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">500</div>
            <div class="color-box__hex">#a2c1c4</div>
          </div>
        </div>

        <div class="color-box">
          <h3 class="cb-text-h6">CB Sand</h3>
          <div class="color-box__div bg-[#e0dbc6]">
            <p class="text-lime-50 invisible"></p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">500</div>
            <div class="color-box__hex">#a2c1c4</div>
          </div>
        </div> -->

      </div>
    </div>

  </div>

  <!-- Core UI palette -->
  <div class="space-y-6">
    <div class="space-y-2 max-w-3xl" id="c2">
      <h2 class="cb-text-h5">Core UI palette</h2>
      <p class="cb-text-copy-regular">When a Neutral color is used for a UI element, the brightness itself can imply
        specific significance. When an element turns dark as you hover your mouse, this indicates that the element
        is
        clickable. A distinctively bright gray one indicates that the element has been disabled or expired.</p>
      <p class="cb-text-copy-regular">Neutral 700 or Neutral 800 is recommended for <b>body text</b>. The soft color
        of
        Neutral 700 naturally matches with a background. Therefore it is appropriate for a UI element with concrete
        function such as menu labels or buttons. If a content itself is empathized as headline, Neutral 800 can make
        a
        clearly readable text. Neutral 600 is handy because it is a brighter color compared to the body text yet
        read as
        disabled.</p>
      <p class="cb-text-copy-regular">We can see the <b>background</b> in white, but if you want to switch modes or
        separate spaces, light gray such as Neutral 50 or Neutral 100 can be chosen. Until recently, Neutral 50
        which is
        fairly close to white wasn’t used. However, as display technology in digital devices advance and extremely
        simple designs come in trend, a very bright gray color started to appear in UI. For that reason, Neutral 100
        can
        seem a bit old-fashioned, but it is affordable for low-end devices and users who don’t have clear eyesight.
        When
        separating spaces with color over Neutral 50 background, Neutral 100 is useful. You can use darker
        background
        color to represent status change such as active, hover for elements like buttons. In this case, 2 levels
        darker
        than normal buttons are suggested.</p>
      <p class="cb-text-copy-regular"><b>Stroke elements</b> use Neutral 300 and Neutral 400. Neutral 300 is
        affordable
        for strokes which divide compartments such as <code>hr</code>. Neutral 400 is appropriate for strokes
        implying
        boundary of forms or buttons can be operated.</p>
    </div>

    <!-- Primary -->
    <div class="space-y-1 text-mini">

      <h3 class="cb-text-h6">Primary</h3>

      <div class="min-w-0 flex-1 grid grid-cols-5 xl:grid-cols-10 gap-y-3">

        <div class="color-box">
          <div class="color-box__div bg-primary-50">
            <p class="text-primary-600">600</p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">50</div>
            <div class="color-box__hex">#E5F3FA</div>
          </div>
        </div>
        <div class="color-box">
          <div class="color-box__div bg-primary-100">
            <p class="text-primary-700">700</p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">100</div>
            <div class="color-box__hex">#B5DEF0</div>
          </div>
        </div>

        <div class="color-box">
          <div class="color-box__div bg-primary-200">
            <p class="text-primary-700">700</p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">200</div>
            <div class="color-box__hex">#8CCCE6</div>
          </div>
        </div>

        <div class="color-box">
          <div class="color-box__div bg-primary-300">
            <p class="text-primary-700">700</p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">300</div>
            <div class="color-box__hex">#68BADF</div>
          </div>
        </div>

        <div class="color-box">
          <div class="color-box__div bg-primary-400">
            <p class="text-primary-800">800</p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">400</div>
            <div class="color-box__hex">#4DA8D5</div>
          </div>
        </div>

        <div class="color-box">
          <div class="color-box__div bg-primary-500">
            <p class="text-primary-900">900</p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">500</div>
            <div class="color-box__hex">#3D8CB8</div>
          </div>
        </div>

        <div class="color-box">
          <div class="color-box__div bg-primary-600">
            <p class="text-primary-50">50</p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">600</div>
            <div class="color-box__hex">#2D6A8A</div>
          </div>
        </div>

        <div class="color-box">
          <div class="color-box__div bg-primary-700">
            <p class="text-primary-50">50</p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">700</div>
            <div class="color-box__hex">#1D485F</div>
          </div>
        </div>

        <div class="color-box">
          <div class="color-box__div bg-primary-800">
            <p class="text-primary-50">50</p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">800</div>
            <div class="color-box__hex">#012A38</div>
          </div>
        </div>

        <div class="color-box">
          <div class="color-box__div bg-primary-900">
            <p class="text-primary-50">50</p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">900</div>
            <div class="color-box__hex">#040F13</div>
          </div>
        </div>

      </div>
    </div>

    <!-- Neutral -->
    <div class="space-y-1 text-mini">

      <h3 class="cb-text-h6">Neutral</h3>

      <div class="min-w-0 flex-1 grid grid-cols-5 xl:grid-cols-10  gap-y-3">

        <div class="color-box">
          <div class="color-box__div bg-neutral-50">
            <p class="text-neutral-600">600</p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">50</div>
            <div class="color-box__hex">#F4F5F7</div>
          </div>
        </div>

        <div class="color-box">
          <div class="color-box__div bg-neutral-100">
            <p class="text-neutral-700">700</p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">100</div>
            <div class="color-box__hex">#EAECEE</div>
          </div>
        </div>

        <div class="color-box">
          <div class="color-box__div bg-neutral-200">
            <p class="text-neutral-700">700</p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">200</div>
            <div class="color-box__hex">#D6DADF</div>
          </div>
        </div>

        <div class="color-box">
          <div class="color-box__div bg-neutral-300">
            <p class="text-neutral-700">700</p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">300</div>
            <div class="color-box__hex">#BAC1C9</div>
          </div>
        </div>

        <div class="color-box">
          <div class="color-box__div bg-neutral-400">
            <p class="text-neutral-800">800</p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">400</div>
            <div class="color-box__hex">#96A0AC</div>
          </div>
        </div>

        <div class="color-box">
          <div class="color-box__div bg-neutral-500">
            <p class="text-neutral-900">900</p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">500</div>
            <div class="color-box__hex">#6E7A87</div>
          </div>
        </div>

        <div class="color-box">
          <div class="color-box__div bg-neutral-600">
            <p class="text-neutral-50">50</p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">600</div>
            <div class="color-box__hex">#4D5966</div>
          </div>
        </div>

        <div class="color-box">
          <div class="color-box__div bg-neutral-700">
            <p class="text-neutral-50">50</p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">700</div>
            <div class="color-box__hex">#374049</div>
          </div>
        </div>

        <div class="color-box">
          <div class="color-box__div bg-neutral-800">
            <p class="text-neutral-50">50</p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">800</div>
            <div class="color-box__hex">#21262C</div>
          </div>
        </div>

        <div class="color-box">
          <div class="color-box__div bg-neutral-900">
            <p class="text-neutral-50">50</p>
          </div>
          <div class="color-box__div2">
            <div class="color-box__value">900</div>
            <div class="color-box__hex">#0B0D0F</div>
          </div>
        </div>

      </div>
    </div>

  </div>

  <!-- Semantic palette -->
  <div>
    <div class="space-y-6">
      <div class="space-y-2 max-w-3xl" id="c3">
        <h2 class="cb-text-h5">Semantic palette</h2>
        <!-- <p class="cb-text-copy-regular">When and how to use these colours... coming soon.</p> -->
      </div>

      <!-- Info -->
      <div class="space-y-1 text-mini">

        <h3 class="cb-text-h6">Info</h3>

        <div class="min-w-0 flex-1 grid grid-cols-5 xl:grid-cols-10 gap-y-3">

          <div class="color-box">
            <div class="color-box__div bg-info-50">
              <p class="text-info-600">600</p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">50</div>
              <div class="color-box__hex">#eff5f5</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-info-100">
              <p class="text-info-900"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">100</div>
              <div class="color-box__hex">#d0e0e1</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-info-200">
              <p class="text-info-800"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">200</div>
              <div class="color-box__hex">#b1cbce</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-info-300">
              <p class="text-info-800"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">300</div>
              <div class="color-box__hex">#92b6ba</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-info-400">
              <p class="text-info-900"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">400</div>
              <div class="color-box__hex">#73a1a6</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-info-500">
              <p class="text-white"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">500</div>
              <div class="color-box__hex">#59888c</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-info-600">
              <p class="text-info-50">50</p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">600</div>
              <div class="color-box__hex">#456a6d</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-info-700">
              <p class="text-info-50"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">700</div>
              <div class="color-box__hex">#314b4e</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-info-800">
              <p class="text-info-50"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">800</div>
              <div class="color-box__hex">#1e2d2f</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-info-900">
              <p class="text-info-50"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">900</div>
              <div class="color-box__hex">#0a0f10</div>
            </div>
          </div>

        </div>
      </div>

      <!-- Red -->
      <div class="space-y-1 text-mini">

        <h3 class="cb-text-h6">Red</h3>

        <div class="min-w-0 flex-1 grid grid-cols-5 xl:grid-cols-10  gap-y-3">

          <div class="color-box">
            <div class="color-box__div bg-red-50">
              <p class="text-red-600">600</p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">50</div>
              <div class="color-box__hex">#fce9e9</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-red-100">
              <p class="text-red-900"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">100</div>
              <div class="color-box__hex">#f5bdbc</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-red-200">
              <p class="text-red-500 invisible"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">200</div>
              <div class="color-box__hex">#ee9190</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-red-300">
              <p class="text-red-500 invisible"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">300</div>
              <div class="color-box__hex">#e86564</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-red-400">
              <p class="text-white invisible"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">400</div>
              <div class="color-box__hex">#e13837</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-red-500">
              <p class="text-white"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">500</div>
              <div class="color-box__hex">#c81f1e</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-red-600">
              <p class="text-white">50</p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">600</div>
              <div class="color-box__hex">#9b1817</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-red-700">
              <p class="text-red-50"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">700</div>
              <div class="color-box__hex">#6f1111</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-red-800">
              <p class="text-red-50"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">800</div>
              <div class="color-box__hex">#430a0a</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-red-900">
              <p class="text-red-50"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">900</div>
              <div class="color-box__hex">#160303</div>
            </div>
          </div>

        </div>
      </div>

      <!-- Orange -->
      <div class="space-y-1 text-mini">

        <h3 class="cb-text-h6">Orange</h3>

        <div class="min-w-0 flex-1 grid grid-cols-5 xl:grid-cols-10  gap-y-3">

          <div class="color-box">
            <div class="color-box__div bg-orange-50">
              <p class="text-orange-600">600</p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">50</div>
              <div class="color-box__hex">#feefe7</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-orange-100">
              <p class="text-orange-900"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">100</div>
              <div class="color-box__hex">#fbceb6</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-orange-200">
              <p class="text-orange-500 invisible"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">200</div>
              <div class="color-box__hex">#f9ad86</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-orange-300">
              <p class="text-orange-500 invisible"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">300</div>
              <div class="color-box__hex">#f68d55</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-orange-400">
              <p class="text-white invisible"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">400</div>
              <div class="color-box__hex">#f46c25</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-orange-500">
              <p class="text-orange-900"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">500</div>
              <div class="color-box__hex">#da530b</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-orange-600">
              <p class="text-orange-50">50</p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">600</div>
              <div class="color-box__hex">#aa4009</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-orange-700">
              <p class="text-orange-50"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">700</div>
              <div class="color-box__hex">#792e06</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-orange-800">
              <p class="text-orange-50"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">800</div>
              <div class="color-box__hex">#491c04</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-orange-900">
              <p class="text-orange-50"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">900</div>
              <div class="color-box__hex">#180901</div>
            </div>
          </div>

        </div>
      </div>

      <!-- Green -->
      <div class="space-y-1 text-mini">

        <h3 class="cb-text-h6">Green</h3>

        <div class="min-w-0 flex-1 grid grid-cols-5 xl:grid-cols-10  gap-y-3">

          <div class="color-box">
            <div class="color-box__div bg-green-50">
              <p class="text-green-600">600</p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">50</div>
              <div class="color-box__hex">#ecf9ee</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-green-100">
              <p class="text-green-900"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">100</div>
              <div class="color-box__hex">#c5eccd</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-green-200">
              <p class="text-green-500 invisible"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">200</div>
              <div class="color-box__hex">#9fe0ac</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-green-300">
              <p class="text-green-500 invisible"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">300</div>
              <div class="color-box__hex">#78d38a</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-green-400">
              <p class="text-white invisible"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">400</div>
              <div class="color-box__hex">#52c769</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-green-500">
              <p class="text-green-900"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">500</div>
              <div class="color-box__hex">#38ad4f</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-green-600">
              <p class="text-green-50">50</p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">600</div>
              <div class="color-box__hex">#297f3a</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-green-700">
              <p class="text-green-50"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">700</div>
              <div class="color-box__hex">#1f602c</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-green-800">
              <p class="text-green-50"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">800</div>
              <div class="color-box__hex">#133a1a</div>
            </div>
          </div>

          <div class="color-box">
            <div class="color-box__div bg-green-900">
              <p class="text-green-50"></p>
            </div>
            <div class="color-box__div2">
              <div class="color-box__value">900</div>
              <div class="color-box__hex">#061309</div>
            </div>
          </div>


        </div>
      </div>

    </div>

  </div>

</div>

<div class="cb-intro-copy">

  <p>Colors are an important element of any design system, as they can be used to convey meaning, create visual
    interest, and establish brand identity. Here are some guidelines for designing a color palette for a design
    system:
  </p>

  <ul>
    <li><strong>Establish a primary color palette:</strong> Choose a set of colors that will be used consistently
      throughout the design system. These should include a primary brand color and a range of supporting colors that
      can
      be used to create visual hierarchy and interest.</li>

    <li><strong>Use a limited number of colors:</strong> It's generally best to use a limited number of colors in a
      design system, as too many colors can create visual clutter and make it difficult for users to process
      information.</li>

    <li><strong>Consider accessibility:</strong> Choose colors that are accessible and legible for users with visual
      impairments. This may include using high-contrast color combinations and avoiding the use of color as the sole
      means of conveying information.</li>

    <li><strong>Use color consistently:</strong> Use the same colors consistently throughout the design system to
      create
      a cohesive visual identity. This includes using the same shades and tones of each color and applying them
      consistently across different UI elements.</li>

    <li><strong>Use color to convey meaning:</strong> Use color to convey meaning and create visual interest. For
      example, you might use a bright, bold color to indicate an error or a softer, muted color to indicate a
      warning.
    </li>

  </ul>

  <p>By following these guidelines, you can create a color palette that is cohesive, accessible, and effective in
    conveying meaning and establishing brand identity.</p>

</div>