<div class="cb-intro-copy">
  
    <p>Steps are a common element in user interfaces that help users understand and complete a process or task. When designing steps for a design system, it's important to consider the following guidelines:</p>
    
    <ul>
      <li><strong>Use steps to break up a complex process:</strong> Steps should be used to divide a complex process into smaller, more manageable chunks. This helps users understand what they need to do and how to do it.</li>
      
      <li><strong>Keep the number of steps limited:</strong> Too many steps can be overwhelming for users and make it difficult for them to complete the task. It's generally best to keep the number of steps to a minimum, usually no more than 7.</li>
      
      <li><strong>Use clear and descriptive labels:</strong> The labels for each step should clearly and accurately describe the action that needs to be taken. Avoid using ambiguous or vague labels.</li>
      
      <li><strong>Use a consistent step style:</strong> The style of the steps should be consistent throughout the design system. This includes the font, color, and overall layout of the steps.</li>
      
      <li><strong>Make it easy to navigate between steps:</strong> The process of switching between steps should be intuitive and straightforward for users. This can be achieved through the use of clear visual indicators and responsive design techniques.</li>
      
      <li><strong>Use active and inactive states:</strong> It should be clear to users which step they are currently on, and which steps are yet to be completed. This can be achieved through the use of visual indicators such as bold or underlined text or a different background color.</li>
      
      <li><strong>Consider the use of progress indicators:</strong> Progress indicators can help users understand how far they are in the process and how much more they have left to do.</li>
    </ul>
      
      <p>By following these guidelines, you can create a clear and intuitive step interface that helps users easily understand and complete complex tasks.</p>
    
    </div>

<app-common *ngFor="let convertedData of convertedDatas" [activeTab]="'preview'" [codePreview]="convertedData.code"
    [codeHtml]="convertedData.code" [title]="convertedData.title">

    <div class="py-10 m-auto px-10">
        <div [innerHTML]="convertedData.code | safeHtml" class="flex items-center w-full justify-center"></div>
    </div>
</app-common>