<app-common *ngFor="let convertedData of convertedDatas" [activeTab]="'preview'" [codePreview]="convertedData.code"
    [codeHtml]="convertedData.code" [title]="convertedData.title">
    <div class="p-8  items-top justify-center bg-gradient-to-b from-white to-gray-50 h-auto">
        <div class="w-full mx-auto ">

            <!-- <div [innerHTML] = "convertedData.code | safeHtml"></div> -->



            <!-- Tables starts -->
            <div>
                <div class="lg:-mx-8 pt-4">
                    <div class="px-4 sm:px-6 lg:px-8">
                        <div class="sm:flex sm:items-center">
                            <div class="sm:flex-auto">
                                <h1 class=" cb-text-h4 ">Single-line table</h1>
                                <p class="mt-1 cb-text-copy-small ">
                                    Tristique senectus et netus et malesuada fames ac turpis egestas integer eget
                                    aliquet nibh praesent tristique.</p>
                            </div>
                            <div class="mt-4 sm:mt-0 sm:ml-16 flex space-x-3">
                                <button type="button" class="btn btn-secondary">Secondary
                                    action</button>
                                <button type="button" class="btn btn-icon btn-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2 -ml-0.5"
                                        viewBox="0 0 20 20" fill="currentColor">
                                        <path
                                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                        </path>
                                    </svg>Primary action </button>
                            </div>
                        </div>
                        <div class="mt-8 flex flex-col">
                            <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
                                <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                                    <div class="relative overflow-hidden ring-1 ring-[#E9ECEE] md:rounded-lg">
                                        <table class="min-w-full table-fixed divide-y divide-[#E9ECEE]">
                                            <thead class="bg-[#F4F6F6]">
                                                <tr>
                                                    <th scope="col" class="relative w-12 px-6 sm:w-16 sm:px-8">
                                                        <input id="comments" aria-describedby="comments-description"
                                                            name="comments" type="checkbox"
                                                            class="focus:ring-[#012A38] h-4 w-4 text-[#012A38] border-[#D3D9DC] rounded absolute left-4 top-1/2 -mt-2 sm:left-6">
                                                    </th>
                                                    <th scope="col"
                                                        class="min-w-[12rem] py-3.5 pr-3 text-left inter antialiased text-[14.22px] font-normal leading-[18.48px] text-[#3F4E54]">
                                                        Consectetur</th>
                                                    <th scope="col"
                                                        class="px-3 py-3.5 text-left inter antialiased text-[14.22px] font-normal leading-[18.48px] text-[#3F4E54]">
                                                        Consectetur</th>
                                                    <th scope="col"
                                                        class="px-3 py-3.5 text-left inter antialiased text-[14.22px] font-normal leading-[18.48px] text-[#3F4E54]">
                                                        Consectetur</th>
                                                    <th scope="col"
                                                        class="px-3 py-3.5 text-left inter antialiased text-[14.22px] font-normal leading-[18.48px] text-[#3F4E54]">
                                                        Consectetur</th>
                                                    <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                                                        <span class="sr-only">Edit</span>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody class="divide-y divide-[#E9ECEE] bg-white">
                                                <!-- Selected: "bg-gray-50" -->
                                                <tr>
                                                    <td class="relative w-12 px-6 sm:w-16 sm:px-8">
                                                        <!-- Selected row marker, only show when row is selected. -->
                                                        <div
                                                            class="hidden absolute inset-y-0 left-0 w-0.5 bg-[#012A38]">
                                                        </div>
                                                        <input id="comments" aria-describedby="comments-description"
                                                            name="comments" type="checkbox"
                                                            class="focus:ring-[#012A38] h-4 w-4 text-[#012A38] border-[#D3D9DC] rounded absolute left-4 top-1/2 -mt-2 sm:left-6">
                                                    </td>
                                                    <!-- Selected: "text-indigo-600", Not Selected: "text-gray-900" -->
                                                    <td
                                                        class="whitespace-nowrap py-4 pr-3 inter antialiased text-[14.22px] font-medium text-[#3F4E54]">
                                                        Tristique Senectus</td>
                                                    <td
                                                        class="whitespace-nowrap px-3 py-4 inter antialiased text-[14.22px] font-normal text-[#617178]">
                                                        Turpis Egestas</td>
                                                    <td
                                                        class="whitespace-nowrap px-3 py-4 inter antialiased text-[14.22px] font-normal text-[#617178]">
                                                        tristique@example.com</td>
                                                    <td
                                                        class="whitespace-nowrap px-3 py-4 inter antialiased text-[14.22px] font-normal text-[#617178]">
                                                        Netus</td>
                                                    <td
                                                        class="whitespace-nowrap pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                                                        <button type="button"
                                                            class="inline-flex items-center p-2 border-none border-[#D3D9DC] rounded bg-white text-[#012A38] hover:bg-[#EDEFF0]/50 active:bg-[#E6EAEB]   hover:text-[#01222D] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#012a38]">
                                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                viewBox="0 0 24 24" stroke-width="2"
                                                                stroke="currentColor" class="w-5 h-5">
                                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                                    d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z" />
                                                            </svg>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="relative w-12 px-6 sm:w-16 sm:px-8">
                                                        <!-- Selected row marker, only show when row is selected. -->
                                                        <div
                                                            class="hidden absolute inset-y-0 left-0 w-0.5 bg-[#012A38]">
                                                        </div>
                                                        <input id="comments" aria-describedby="comments-description"
                                                            name="comments" type="checkbox"
                                                            class="focus:ring-[#012A38] h-4 w-4 text-[#012A38] border-[#D3D9DC] rounded absolute left-4 top-1/2 -mt-2 sm:left-6">
                                                    </td>
                                                    <!-- Selected: "text-indigo-600", Not Selected: "text-gray-900" -->
                                                    <td
                                                        class="whitespace-nowrap py-4 pr-3 inter antialiased text-[14.22px] font-medium text-[#3F4E54]">
                                                        Tristique Senectus</td>
                                                    <td
                                                        class="whitespace-nowrap px-3 py-4 inter antialiased text-[14.22px] font-normal text-[#617178]">
                                                        Turpis Egestas</td>
                                                    <td
                                                        class="whitespace-nowrap px-3 py-4 inter antialiased text-[14.22px] font-normal text-[#617178]">
                                                        tristique@example.com</td>
                                                    <td
                                                        class="whitespace-nowrap px-3 py-4 inter antialiased text-[14.22px] font-normal text-[#617178]">
                                                        Netus</td>
                                                    <td
                                                        class="whitespace-nowrap pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                                                        <button type="button"
                                                            class="inline-flex items-center p-2 border-none border-[#D3D9DC] rounded bg-white text-[#012A38] hover:bg-[#EDEFF0]/50 active:bg-[#E6EAEB]   hover:text-[#01222D] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#012a38]">
                                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                viewBox="0 0 24 24" stroke-width="2"
                                                                stroke="currentColor" class="w-5 h-5">
                                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                                    d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z" />
                                                            </svg>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="relative w-12 px-6 sm:w-16 sm:px-8">
                                                        <!-- Selected row marker, only show when row is selected. -->
                                                        <div
                                                            class="hidden absolute inset-y-0 left-0 w-0.5 bg-[#012A38]">
                                                        </div>
                                                        <input id="comments" aria-describedby="comments-description"
                                                            name="comments" type="checkbox"
                                                            class="focus:ring-[#012A38] h-4 w-4 text-[#012A38] border-[#D3D9DC] rounded absolute left-4 top-1/2 -mt-2 sm:left-6">
                                                    </td>
                                                    <!-- Selected: "text-indigo-600", Not Selected: "text-gray-900" -->
                                                    <td
                                                        class="whitespace-nowrap py-4 pr-3 inter antialiased text-[14.22px] font-medium text-[#3F4E54]">
                                                        Tristique Senectus</td>
                                                    <td
                                                        class="whitespace-nowrap px-3 py-4 inter antialiased text-[14.22px] font-normal text-[#617178]">
                                                        Turpis Egestas</td>
                                                    <td
                                                        class="whitespace-nowrap px-3 py-4 inter antialiased text-[14.22px] font-normal text-[#617178]">
                                                        tristique@example.com</td>
                                                    <td
                                                        class="whitespace-nowrap px-3 py-4 inter antialiased text-[14.22px] font-normal text-[#617178]">
                                                        Netus</td>
                                                    <td
                                                        class="whitespace-nowrap pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                                                        <button type="button"
                                                            class="inline-flex items-center p-2 border-none border-[#D3D9DC] rounded bg-white text-[#012A38] hover:bg-[#EDEFF0]/50 active:bg-[#E6EAEB]   hover:text-[#01222D] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#012a38]">
                                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                viewBox="0 0 24 24" stroke-width="2"
                                                                stroke="currentColor" class="w-5 h-5">
                                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                                    d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z" />
                                                            </svg>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="relative w-12 px-6 sm:w-16 sm:px-8">
                                                        <!-- Selected row marker, only show when row is selected. -->
                                                        <div
                                                            class="hidden absolute inset-y-0 left-0 w-0.5 bg-[#012A38]">
                                                        </div>
                                                        <input id="comments" aria-describedby="comments-description"
                                                            name="comments" type="checkbox"
                                                            class="focus:ring-[#012A38] h-4 w-4 text-[#012A38] border-[#D3D9DC] rounded absolute left-4 top-1/2 -mt-2 sm:left-6">
                                                    </td>
                                                    <!-- Selected: "text-indigo-600", Not Selected: "text-gray-900" -->
                                                    <td
                                                        class="whitespace-nowrap py-4 pr-3 inter antialiased text-[14.22px] font-medium text-[#3F4E54]">
                                                        Tristique Senectus</td>
                                                    <td
                                                        class="whitespace-nowrap px-3 py-4 inter antialiased text-[14.22px] font-normal text-[#617178]">
                                                        Turpis Egestas</td>
                                                    <td
                                                        class="whitespace-nowrap px-3 py-4 inter antialiased text-[14.22px] font-normal text-[#617178]">
                                                        tristique@example.com</td>
                                                    <td
                                                        class="whitespace-nowrap px-3 py-4 inter antialiased text-[14.22px] font-normal text-[#617178]">
                                                        Netus</td>
                                                    <td
                                                        class="whitespace-nowrap pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                                                        <button type="button"
                                                            class="inline-flex items-center p-2 border-none border-[#D3D9DC] rounded bg-white text-[#012A38] hover:bg-[#EDEFF0]/50 active:bg-[#E6EAEB]   hover:text-[#01222D] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#012a38]">
                                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                viewBox="0 0 24 24" stroke-width="2"
                                                                stroke="currentColor" class="w-5 h-5">
                                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                                    d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z" />
                                                            </svg>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="relative w-12 px-6 sm:w-16 sm:px-8">
                                                        <!-- Selected row marker, only show when row is selected. -->
                                                        <div
                                                            class="hidden absolute inset-y-0 left-0 w-0.5 bg-[#012A38]">
                                                        </div>
                                                        <input id="comments" aria-describedby="comments-description"
                                                            name="comments" type="checkbox"
                                                            class="focus:ring-[#012A38] h-4 w-4 text-[#012A38] border-[#D3D9DC] rounded absolute left-4 top-1/2 -mt-2 sm:left-6">
                                                    </td>
                                                    <!-- Selected: "text-indigo-600", Not Selected: "text-gray-900" -->
                                                    <td
                                                        class="whitespace-nowrap py-4 pr-3 inter antialiased text-[14.22px] font-medium text-[#3F4E54]">
                                                        Tristique Senectus</td>
                                                    <td
                                                        class="whitespace-nowrap px-3 py-4 inter antialiased text-[14.22px] font-normal text-[#617178]">
                                                        Turpis Egestas</td>
                                                    <td
                                                        class="whitespace-nowrap px-3 py-4 inter antialiased text-[14.22px] font-normal text-[#617178]">
                                                        tristique@example.com</td>
                                                    <td
                                                        class="whitespace-nowrap px-3 py-4 inter antialiased text-[14.22px] font-normal text-[#617178]">
                                                        Netus</td>
                                                    <td
                                                        class="whitespace-nowrap pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                                                        <button type="button"
                                                            class="inline-flex items-center p-2 border-none border-[#D3D9DC] rounded bg-white text-[#012A38] hover:bg-[#EDEFF0]/50 active:bg-[#E6EAEB]   hover:text-[#01222D] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#012a38]">
                                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                viewBox="0 0 24 24" stroke-width="2"
                                                                stroke="currentColor" class="w-5 h-5">
                                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                                    d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z" />
                                                            </svg>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <!-- More people... -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tables ends -->





        </div>
    </div>

</app-common>