<div class="cb-intro-copy">
  
    <p>Tables are a common design pattern used to display structured data in a grid format. Here are some guidelines for designing table elements within a design system:</p>
    
    <ul>
      <li><strong>Use clear, descriptive labels:</strong> The labels for the table columns should clearly describe the purpose of each column and the type of content expected.</li>
      
      <li><strong>Use appropriate visual hierarchy:</strong> Make it easy for users to identify the different columns in the table and the relationships between them. This can be achieved through the use of visual hierarchy, such as using larger or bolder text for the primary columns and smaller, lighter text for secondary columns.</li>
      
      <li><strong>Consider mobile-friendliness:</strong> When designing for small screens, consider how the table will be displayed. It may be necessary to use a different layout or truncate the labels to ensure that the table is easy to use on a smaller screen.</li>
      
      <li><strong>Use appropriate spacing and alignment:</strong> Proper spacing and alignment can help to make the table more legible and easier to read. Use consistent spacing between elements and align elements according to the overall layout of the page.</li>
      
      <li><strong>Provide clear actions or next steps:</strong> If applicable, the table rows should clearly communicate any necessary actions or next steps for the user. Make it easy for users to understand what they need to do and how to do it.</li>
      
    </ul>
      
      <p>By following these guidelines, you can help to create a stacked list experience that is clear, intuitive, and easy to use for your users.</p>
    
    </div>
    
    <app-common *ngFor="let convertedData of convertedDatas" [activeTab]="'preview'" [codePreview]="convertedData.code"
    [codeHtml]="convertedData.code" [title]="convertedData.title">
    <div class="preview-box">
        <div class="w-full mx-auto ">

            <div [innerHTML]="convertedData.code | safeHtml"></div>

        </div>
    </div>

</app-common>