<div class="cb-intro-copy">
  
    <p>Pagination is a common design pattern used to split content into discrete pages, allowing users to easily navigate through large amounts of content. Here are some guidelines for designing pagination elements within a design system:</p>
    
    <ul>
      <li><strong>Use clear, descriptive labels:</strong> Labels such as "Previous" and "Next" should be used to indicate the direction of navigation. It's also helpful to include the current page number and the total number of pages, as well as any relevant filters or sort options.</li>
      
      <li><strong>Provide clear visual hierarchy:</strong> Make it easy for users to identify the current page and the available options for navigating to other pages. This can be achieved through the use of visual hierarchy, such as using larger or bolder text for the current page and smaller, lighter text for other pages.</li>
      
      <li><strong>Offer a range of navigation options:</strong> In addition to previous and next buttons, consider including options for jumping to the first or last page, as well as options for skipping ahead or back by a certain number of pages.</li>
      
      <li><strong>Consider mobile-friendliness:</strong> When designing for small screens, consider how the pagination elements will be displayed. It may be necessary to hide some navigation options or use a different layout to ensure that the pagination is easy to use on a smaller screen.</li>
      
      <li><strong>Use appropriate spacing and alignment:</strong> Proper spacing and alignment can help to make the pagination elements more legible and easier to use. Use consistent spacing between elements and align elements according to the overall layout of the page.</li>
    </ul>
      
      <p>By following these guidelines, you can help to create a pagination experience that is clear, intuitive, and easy to use for your users.</p>
    
    </div>

<app-common [activeTab]="'preview'" [codePreview]="convertedDatas[0].code" [codeHtml]="convertedDatas[0].code"
    [title]="convertedDatas[0].title">

    <div class=" bg-gray-100 p-8 ">

        <!-- Pagination -->
        <div
            class="flex items-center justify-between rounded-b-lg border-t border-neutral-300 bg-white px-4 py-3 sm:px-6">
            <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
                <div>
                    <p class="cb-text-copy-regular">Showing 1 to 10 of 97 results</p>
                </div>
                <div>
                    <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
                        <a
                            class="relative inline-flex items-center rounded-l-md border border-neutral-200 bg-white px-2 py-2 text-neutral-600 hover:bg-neutral-50 focus:z-20">
                            <span class="sr-only">Previous</span>
                            <!-- Heroicon name: mini/chevron-left -->
                            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z"
                                    clip-rule="evenodd" />
                            </svg>
                        </a>
                        <a aria-current="page"
                            class="relative z-10 inline-flex items-center border border-primary-200 bg-primary-50 px-4 py-2 cb-text-copy-regular focus:z-20">1</a>
                        <a
                            class="relative inline-flex items-center border border-neutral-200 bg-white px-4 py-2 cb-text-copy-regular hover:bg-neutral-50 focus:z-20">2</a>
                        <a
                            class="relative hidden items-center border border-neutral-200 bg-white px-4 py-2 cb-text-copy-regular hover:bg-neutral-50 focus:z-20 md:inline-flex">3</a>
                        <span
                            class="relative inline-flex items-center border border-neutral-200 bg-white px-4 py-2 cb-text-copy-regular">...</span>
                        <a
                            class="relative hidden items-center border border-neutral-200 bg-white px-4 py-2 cb-text-copy-regular hover:bg-neutral-50 focus:z-20 md:inline-flex">8</a>
                        <a
                            class="relative inline-flex items-center border border-neutral-200 bg-white px-4 py-2 cb-text-copy-regular hover:bg-neutral-50 focus:z-20">9</a>
                        <a
                            class="relative inline-flex items-center border border-neutral-200 bg-white px-4 py-2 cb-text-copy-regular hover:bg-neutral-50 focus:z-20">10</a>
                        <a
                            class="relative inline-flex items-center rounded-r-md border border-neutral-200 bg-white px-2 py-2 text-neutral-600 hover:bg-neutral-50 focus:z-20">
                            <span class="sr-only">Next</span>
                            <!-- Heroicon name: mini/chevron-right -->
                            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                    clip-rule="evenodd" />
                            </svg>
                        </a>
                    </nav>
                </div>
            </div>
        </div>

    </div>

</app-common>