<div class="cb-intro-copy">
  
  <p>Select menus are a common design pattern used to allow users to select a single option from a list of choices. Here are some guidelines for designing select menu elements within a design system:</p>
  
  <ul>
    <li><strong>Use clear, descriptive labels:</strong> The labels for the options in the select menu should clearly describe the purpose of each option and the type of input expected.</li>
    
    <li><strong>Use appropriate visual hierarchy:</strong> Make it easy for users to identify the different options within the select menu and the current selection. This can be achieved through the use of visual hierarchy, such as using larger or bolder text for the selected option and smaller, lighter text for the other options.</li>
    
    <li><strong>Consider mobile-friendliness:</strong> When designing for small screens, consider how the select menu will be displayed. It may be necessary to use a different layout or truncate the labels to ensure that the select menu is easy to use on a smaller screen.</li>
    
    <li><strong>Use appropriate spacing and alignment:</strong> Proper spacing and alignment can help to make the select menu more legible and easier to use. Use consistent spacing between elements and align elements according to the overall layout of the page.</li>
    
    <li><strong>Provide clear feedback:</strong> When the select menu is activated, provide clear feedback to the user to indicate the status of the selection. This can be achieved through the use of visual or auditory cues.</li>
    
  </ul>
    
    <p>By following these guidelines, you can help to create a select menu experience that is clear, intuitive, and easy to use for your users.</p>
  
  </div>
  
  <app-common mainTitle="select_menus" [activeTab]="'preview'" [codePreview]="convertedDatas[0].code"
  [codeHtml]="convertedDatas[0].code" [title]="convertedDatas[0].title">
  <div class="preview-box !stickyh-56">
    <div class="w-full max-w-xs mx-auto ">
      <div [innerHTML]="convertedDatas[0].code | safeHtml" class="w-full "></div>
    </div>
  </div>
</app-common>



<app-common mainTitle="select_menus" [activeTab]="'preview'" [codePreview]="convertedDatas[1].code"
  [codeHtml]="convertedDatas[1].code" [title]="convertedDatas[1].title" [PreviewHeight]="'h-96 m-h-full'">
  <div class="preview-box !h-96">
    <div class="w-full max-w-xs mx-auto ">

      <div class="form-control dropDown" appToggleDropdown>
        <label id="listbox-label" class="label"> Assigned to </label>
        <div class="relative">
          <button class="select-button" aria-haspopup="listbox" aria-expanded="true" aria-labelledby="listbox-label">
            <span> Tom Cook </span>
            <span class="pointer">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
              </svg>  
            </span>
          </button>

          <ul tabindex="-1" class="select-ul" role="listbox" aria-labelledby="listbox-label"
            aria-activedescendant="listbox-option-3">

            <li id="listbox-option-0" role="option" *ngFor="let data of optionData">
              <span> {{data}} </span>
            </li>

          </ul>
        </div>
      </div>


    </div>
  </div>
</app-common>


<app-common mainTitle="select_menus" [activeTab]="'preview'" [codePreview]="convertedDatas[2].code"
  [codeHtml]="convertedDatas[2].code" [title]="convertedDatas[2].title" [PreviewHeight]="'h-96 m-h-full'">
  <div class="preview-box !h-96">
    <div class="w-full max-w-xs mx-auto ">

      <div class="form-control dropDown" appToggleDropdown>
        <label id="listbox-label" class="label"> Assigned to </label>
        <div class="relative">
          <button class="select-button" aria-haspopup="listbox" aria-expanded="true" aria-labelledby="listbox-label">
            <span> Tom Cook </span>
            <span class="pointer">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
              </svg>  
            </span>
          </button>

          <ul tabindex="-1" class="select-ul" role="listbox" aria-labelledby="listbox-label"
            aria-activedescendant="listbox-option-3">

            <li [ngClass]="data ==='Tom Cook'? 'select-li-selected ': ''" id="listbox-option-0"
              role="option" *ngFor="let data of optionData">
              <span> {{data}} </span>
              <span>
                <svg [ngClass]="data ==='Tom Cook'? 'block': 'hidden'"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd" />
                </svg>
              </span>
            </li>

          </ul>
        </div>
      </div>


    </div>
  </div>
</app-common>


<app-common mainTitle="select_menus" [activeTab]="'preview'" [codePreview]="convertedDatas[3].code"
  [codeHtml]="convertedDatas[3].code" [title]="convertedDatas[3].title" [PreviewHeight]="'h-96 m-h-full'">
  <div class="preview-box !h-96">
    <div class="w-full max-w-xs mx-auto">

      <div class="form-control dropDown" appToggleDropdown>
        <label id="listbox-label" class="sr-only">Sort</label>
        <div class="relative mt-1">
          <button type="button" class="select-button" aria-haspopup="listbox" aria-expanded="true" aria-labelledby="listbox-label">
            <span class="flex gap-2">
              <span class="font-semibold">Sort:</span>
              <span>Tom Cook</span>
            </span>
            <span class="pointer">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
              </svg>  
            </span>
          </button>

          <ul tabindex="-1" class="select-ul" role="listbox" aria-labelledby="listbox-label"
            aria-activedescendant="listbox-option-3">

            <li [ngClass]="data ==='Tom Cook'? 'select-li-selected ': ''" id="listbox-option-0"
              role="option" *ngFor="let data of optionData">
              <span> {{data}} </span>
              <span>
                <svg [ngClass]="data ==='Tom Cook'? 'block': 'hidden'"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd" />
                </svg>
              </span>
            </li>

          </ul>
        </div>
      </div>
      


    </div>
  </div>
</app-common>

<!-- <app-common *ngFor="let convertedData of convertedDatas" [activeTab]="'preview'" mainTitle="dropdowns"
  [codePreview]="convertedData.code" [codeHtml]="convertedData.code" [title]="convertedData.title">
  <div class="p-8 flex items-top justify-center bg-gray-100 h-56">
    <div class="w-full max-w-xs mx-auto ">

      <div [innerHTML]="convertedData.code | safeHtml" class="w-full "></div>

    </div>
  </div>
</app-common> -->