<app-common mainTitle="select_menus" [activeTab]="'preview'" [codePreview]="convertedDatas[0].code"
  [codeHtml]="convertedDatas[0].code" [title]="convertedDatas[0].title">
  <div class="preview-box !stickyh-56">
    <div class="w-full max-w-xs mx-auto ">
      <div [innerHTML]="convertedDatas[0].code | safeHtml" class="w-full "></div>
    </div>
  </div>
</app-common>



<app-common mainTitle="select_menus" [activeTab]="'preview'" [codePreview]="convertedDatas[1].code"
  [codeHtml]="convertedDatas[1].code" [title]="convertedDatas[2].title" [PreviewHeight]="'h-96 m-h-full'">
  <div class="preview-box !h-96">
    <div class="w-full max-w-xs mx-auto ">

      <div class="form-control dropDown" appToggleDropdown>
        <label id="listbox-label" class="label"> Assigned to </label>
        <div class="mt-1 relative">
          <button class="select-button" aria-haspopup="listbox" aria-expanded="true" aria-labelledby="listbox-label">
            <span class="block truncate"> Tom Cook </span>
            <span class="select-button-icon-container">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
              </svg>              
            </span>
          </button>

          <ul tabindex="-1" class="select-ul" role="listbox" aria-labelledby="listbox-label"
            aria-activedescendant="listbox-option-3">

            <li class="group select-li" id="listbox-option-0" role="option" *ngFor="let data of optionData">
              <span class="font-normal block truncate"> {{data}} </span>
            </li>

          </ul>
        </div>
      </div>


    </div>
  </div>
</app-common>


<app-common mainTitle="select_menus" [activeTab]="'preview'" [codePreview]="convertedDatas[2].code"
  [codeHtml]="convertedDatas[2].code" [title]="convertedDatas[2].title" [PreviewHeight]="'h-96 m-h-full'">
  <div class="preview-box !h-96">
    <div class="w-full max-w-xs mx-auto ">

      <div class="form-control dropDown" appToggleDropdown>
        <label id="listbox-label" class="label"> Assigned to </label>
        <div class="mt-1 relative">
          <button class="select-button" aria-haspopup="listbox" aria-expanded="true" aria-labelledby="listbox-label">
            <span class="block truncate"> Tom Cook </span>
            <span class="select-button-icon-container">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
              </svg>              
            </span>
          </button>

          <ul tabindex="-1" class="select-ul" role="listbox" aria-labelledby="listbox-label"
            aria-activedescendant="listbox-option-3">

            <li class="group" [ngClass]="data ==='Tom Cook'? 'select-li-selected ': 'select-li'" id="listbox-option-0"
              role="option" *ngFor="let data of optionData">
              <span class="font-normal block truncate"> {{data}} </span>
              <span class="select-li-icon ">
                <svg class="h-5 w-5" [ngClass]="data ==='Tom Cook'? 'block': 'hidden'"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd" />
                </svg>
              </span>
            </li>

          </ul>
        </div>
      </div>


    </div>
  </div>
</app-common>

<!-- <app-common *ngFor="let convertedData of convertedDatas" [activeTab]="'preview'" mainTitle="dropdowns"
  [codePreview]="convertedData.code" [codeHtml]="convertedData.code" [title]="convertedData.title">
  <div class="p-8 flex items-top justify-center bg-gray-100 h-56">
    <div class="w-full max-w-xs mx-auto ">

      <div [innerHTML]="convertedData.code | safeHtml" class="w-full "></div>

    </div>
  </div>
</app-common> -->