<p class="cb-text-copy-large mt-4 max-w-3xl leading-6">The design principle of grouping refers to
    the organization of elements within a user interface in a way that helps
    users understand the relationships between them and the hierarchy of information. In a SaaS app
    design system, grouping
    can be used to create a clear and organized visual structure for the user interface.
</p>
<!-- Main area starts -->
<div class="border-b border-neutral-200 pb-8"></div>
<div class="pb-20">

    <div class="mt-16">
        <!-- Highlights -->
        <div class="min-w-0 flex-1" id="c1">
            <p class="cb-text-h2">Guidelines</p>
            <div class="grid grid-cols-1 gap-6 mt-6">
                <div>
                    <div class="min-w-0 flex-1">
                        <p class="cb-text-h5">Using whitespace</p>
                        <p class="cb-text-copy-regular mt-1 max-w-3xl leading-5"> Placing elements in a clear
                            and
                            organized layout and using whitespace to separate different groups of elements can
                            help
                            to create a clear hierarchy and make it easier for users to process the information.
                        </p>
                    </div>
                </div>
                <div class="min-w-0 flex-1">
                    <p class="cb-text-h5">Using visual cues</p>
                    <p class="cb-text-copy-regular mt-1 max-w-3xl leading-5">Using visual cues such as color,
                        shape,
                        or size to group related elements can help to create a clear hierarchy and make
                        it easier for users to understand the relationships between different elements.</p>
                </div>
                <div class="min-w-0 flex-1">
                    <p class="cb-text-h5">Creating logical groupings</p>
                    <p class="cb-text-copy-regular mt-1 max-w-3xl leading-5">Grouping elements in a logical way
                        based
                        on their function or purpose can help to create a clear and organized structure
                        for the user interface.</p>
                </div>
                <div class="min-w-0 flex-1">
                    <p class="cb-text-h5">Avoiding clutter</p>
                    <p class="cb-text-copy-regular mt-1 max-w-3xl leading-5"> Avoiding clutter by keeping the
                        number
                        of elements on the page to a minimum and using clear and concise language can
                        help to create a clear and organized layout. </p>
                </div>
            </div>
        </div>
        <!-- Examples -->
        <div>
            <div class="mt-24 min-w-0 flex-1" id="c2">
                <p class="cb-text-h2">Examples</p>
                <p class="cb-text-copy-regular mt-1 max-w-3xl"> By applying the design principle of grouping in
                    a
                    SaaS app design system, you can create a clear and organized visual
                    structure that helps users understand the relationships between different elements and the
                    hierarchy of information. Few examples below shows how the design principle of
                    grouping can be applied in the Chargebee app. </p>
                <div class="mt-8 grid grid-cols-2 gap-8">
                    <div class="space-y-4">
                        <div
                            class="border border-neutral-100 bg-neutral-50 bg-opacity-40 rounded-lg h-36 px-12 flex items-center justify-center">
                            <!-- Visual Reference -->
                        </div>
                        <div>
                            <p class="cb-text-h6 tracking-normal">Navigation</p>
                            <p class="cb-text-copy-regular mt-1 max-w-3xl leading-5"> Grouping navigation
                                elements (max
                                seven items per group) into clear categories or sections can help to create a
                                clear
                                hierarchy and make it easier for users to find the information they need.
                            </p>
                        </div>
                    </div>
                    <div class="space-y-4">
                        <div
                            class="border border-neutral-100 bg-neutral-50 bg-opacity-40 rounded-lg h-36 px-12 flex items-center justify-center">
                            <!-- Visual Reference -->
                        </div>
                        <div>
                            <p class="cb-text-h6 tracking-normal">Form fields</p>
                            <p class="cb-text-copy-regular mt-1 max-w-3xl leading-5"> Grouping form fields into
                                logical
                                sections or groups can help to create a clear and organized layout and make it
                                easier
                                for users to complete the form. </p>
                        </div>
                    </div>
                    <div class="space-y-4">
                        <div
                            class="border border-neutral-100 bg-neutral-50 bg-opacity-40 rounded-lg h-36 px-6 flex items-center justify-center overflow-hidden">
                            <!-- Visual Reference -->
                        </div>
                        <div>
                            <p class="cb-text-h6 tracking-normal">Data visualization</p>
                            <p class="cb-text-copy-regular mt-1 max-w-3xl leading-5"> Grouping data into clear
                                and logical
                                categories or using visual cues such as color or shape to group related data can
                                help users understand and interpret complex data sets more easily. </p>
                        </div>
                    </div>
                    <div class="space-y-4">
                        <div
                            class="border border-neutral-100 bg-neutral-50 bg-opacity-40 rounded-lg h-36 px-6 flex items-center justify-center overflow-hidden">
                            <!-- Visual Reference -->
                        </div>
                        <div>
                            <p class="cb-text-h6 tracking-normal">Dashboards</p>
                            <p class="cb-text-copy-regular mt-1 max-w-3xl leading-5"> Grouping dashboard
                                elements into
                                clear categories or sections can help to create a clear hierarchy and make it
                                easier
                                for users to understand and interact with the information being presented. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main area ends -->