<p class="cb-text-copy-large mt-4 leading-6"> Toasts are a common design pattern used to communicate short, non-critical
    messages to users.
</p>
<app-common *ngFor="let convertedData of convertedDatas" [activeTab]="'preview'" mainTitle="pageheadings"
    [codePreview]="convertedData.code" [codeHtml]="convertedData.code" [title]="convertedData.title">

    <div class="preview-box-2">

        <div class="flex items-center justify-center w-full ">
            <div class=" w-96">
                <div [innerHTML]="convertedData.code | safeHtml"></div>
            </div>
        </div>


    </div>

</app-common>
<p class="cb-text-h3 pt-10" id="c2">Guidelines</p>


<div class="cb-intro-copy">

    <p>Toasts are a common design pattern used to communicate short, non-critical messages to users. Here are some
        guidelines for designing toast elements within a design system:</p>

    <ul>
        <li><strong>Use clear, concise language:</strong> Toasts should convey brief information in a clear, concise
            manner. Avoid using jargon or technical language, and keep the message brief and to the point.</li>

        <li><strong>Use appropriate color and visual hierarchy:</strong> Use color and visual hierarchy to draw
            attention to the toast and convey the level of importance. For example, a warning or error message might use
            a bright, bold color, while a less critical message might use a softer, more muted color.</li>

        <li><strong>Consider mobile-friendliness:</strong> When designing for small screens, consider how the toast will
            be displayed. It may be necessary to use a different layout or truncate the message to ensure that the toast
            is easy to read and understand on a smaller screen.</li>

        <li><strong>Use appropriate spacing and alignment:</strong> Proper spacing and alignment can help to make the
            toast more legible and easier to read. Use consistent spacing between elements and align elements according
            to the overall layout of the page.</li>

        <li><strong>Provide clear actions or next steps:</strong> Toasts should clearly communicate any necessary
            actions or next steps for the user, if applicable. Make it easy for users to understand what they need to do
            and how to do it.</li>

        <li><strong>Set appropriate duration:</strong> Toasts should not interrupt the user's workflow for an extended
            period of time. Consider the appropriate duration for the toast to be displayed, and ensure that it
            disappears after a reasonable amount of time.</li>
    </ul>

    <p>By following these guidelines, you can help to create a toast experience that is clear, concise, and easy to
        understand for your users.</p>

</div>