<!-- <app-sub-header></app-sub-header> -->
<app-header></app-header>
<div
    class="relative mx-auto grid grid-cols-5 gap-1 max-w-8xl justify-center pl-10 md:pl-0  md:justify-start sm:px-2  dark:bg-black ">

    <div class="hidden lg:relative lg:block lg:flex-none">
        <div class="absolute top-28 bottom-0 right-0 hidden w-px bg-slate-800 dark:block"></div>
        <div class="sticky top-[4.5rem] -ml-0.5 h-[calc(100vh-4.5rem)] overflow-y-auto overflow-x-hidden  pl-0.5">
            <app-sidenav></app-sidenav>
        </div>
    </div>


    <div class=" col-span-3" id="c1">

        <main class="relative z-0 focus:outline-none  ">
            <div class="cb-text-h1 pt-10 ">{{title}}</div>

            <router-outlet></router-outlet>
        </main>

    </div>

    <div class="cb-content-right-panel ">
        <nav aria-labelledby="on-this-page-title">
            <div class=" ">
                <div class=" cb-text-copy-regular">
                    <h3 class=" cb-text-h4" [ngClass]="{'hidden': contentPage && contentPage.length == 0 }">
                        Content</h3>
                    <ul class="py-4 space-y-2">


                        <li class=" cb-text-h6" *ngFor="let content of contentPage" (click)="scrollTo(content.id)">
                            {{content.title}}</li>

                    </ul>
                </div>

            </div>
        </nav>

    </div>
    
</div>