<div class="w-56 h-full bg-white border-r border-gray-200 fixed overflow-scroll py-4">
    <div class="flex flex-shrink-0 items-center px-4">
        <a routerLink="/" class=" cursor-pointer"> <img class="h-8 w-auto" src="assets/images/sting-logo.svg"
                alt="Your Company"></a>
    </div>
    <div class="h-10"></div>
    <nav class="flex-1 space-y-8 bg-white px-5" aria-label="Sidebar">
        <ul *ngFor="let nav of leftNav.leftNav">
            <li class="block">
                <h3 class="inter antialiased text-[14.22px] font-semibold leading-[18.48px] text-[#3F4E54] mb-2">
                    {{nav.title}}</h3>
                <ul class=" sub-li">
                    <li *ngFor="let subNav of nav.subMenu" (click)="selectTitle(subNav.title)">
                        <a [routerLink]="path+subNav.link" routerLinkActive="active">{{subNav.title}}</a>
                    </li>

                </ul>
            </li>
        </ul>


    </nav>
</div>