<div class="space-y-10 pt-10">
    <h5 class=" text-3xl font-bold">Get started with Sting UI</h5>

<p class="text-lg text-gray-600 w-2/4 font-light">Easy to customize site templates built with Html & Alpine.js. The perfect starting point for your next prototype and the ultimate resource for creating functional prototype. </p>

<h4 class=" text-xl font-semibold">Installation</h4>

<div>
    <div class="border-b">Sting CDN</div>
    <p class="pt-5 w-2/3 text-gray-600">Use the Sting CDN to try Sting right in the browser without any build step. The Sting CDN is designed for prototype purposes only, and is not the best choice for production.</p>
</div>

<div>
    <div class="grid grid-cols-1">
        <div>
            <p>Add the Sting CDN script to your HTML</p>
            <p>Add the Play CDN script tag to the 'head' of your HTML file, and start using Tailwind’s utility classes to style your content.</p>
        </div>

        <div>
            <pre class="language-markup break-all">
                <code class="language-markup break-all" >
                   {{codePreview}}
                </code>
            </pre>
        </div>
    </div>
</div>

</div>