<!-- <div class="space-y-10 pt-10">
    <h5 class=" text-3xl font-bold">Get started with Sting UI</h5>

<p class="text-lg text-gray-600 w-2/4 font-light">Easy to customize site templates built with Html & Alpine.js. The perfect starting point for your next prototype and the ultimate resource for creating functional prototype. </p>

<h4 class=" text-xl font-semibold">Installation</h4>

<div>
    <div class="border-b">Sting CDN</div>
    <p class="pt-5 w-2/3 text-gray-600">Use the Sting CDN to try Sting right in the browser without any build step. The Sting CDN is designed for prototype purposes only, and is not the best choice for production.</p>
</div>

<div>
    <div class="grid grid-cols-1">
        <div>
            <p>Add the Sting CDN script to your HTML</p>
            <p>Add the Play CDN script tag to the 'head' of your HTML file, and start using Tailwind’s utility classes to style your content.</p>
        </div>

        <div>
            <pre class="language-markup break-all">
                <code class="language-markup break-all" >
                   {{codePreview}}
                </code>
            </pre>
        </div>
    </div>
</div>

</div> -->


<main class="flex-1">
    <div class="relative mx-auto">
        <div>
            <div class="py-8 px-4 sm:px-6 md:px-0">

                <!-- <p class="w-5/6 inter antialiased text-[14.22px] leading-normal font-normal text-neutral-400 mt-2">Easy
                    to customize site templates built with HTML & Alpine.js. The perfect starting point for your next
                    prototype and the ultimate resource for creating functional prototype.</p> -->
            </div>
            <div class="max-w-7xl  mr-auto pt-6 space-y-16">
                <!-- Set starts -->
                <div class="w-full">
                    <div class="hidden sm:block w-full -mt-6">
                        <div class="border-b border-neutral-200">
                            <nav class="-mb-px flex space-x-8" aria-label="Tabs">
                                <a href="#tabs"
                                    class="inter antialiased text-[14.22px] font-semibold leading-[18.48px] text-primary-500 border-b-2 border-primary-500 whitespace-nowrap py-2 px-1"
                                    aria-current="page">Sting CDN</a>
                                <!-- <a href="#tabs"
                                    class="inter antialiased text-[14.22px] font-normal leading-[18.48px] text-neutral-400 hover:text-primary-500 border-b-2 border-transparent hover:border-primary-500 whitespace-nowrap py-2 px-1">Menu</a>
                                <a href="#tabs"
                                    class="inter antialiased text-[14.22px] font-normal leading-[18.48px] text-neutral-400 hover:text-primary-500 border-b-2 border-transparent hover:border-primary-500 whitespace-nowrap py-2 px-1">Menu</a>
                                <a href="#tabs"
                                    class="inter antialiased text-[14.22px] font-normal leading-[18.48px] text-neutral-400 hover:text-primary-500 border-b-2 border-transparent hover:border-primary-500 whitespace-nowrap py-2 px-1">Menu</a> -->
                            </nav>
                        </div>
                        <p
                            class="w-5/6 inter antialiased text-[14.22px] leading-normal font-normal text-neutral-600 mt-4">
                            Use the Sting CDN to try Sting right in the browser without any build step. The Sting CDN is
                            designed for prototype purposes only, and is not the best choice for production.</p>
                    </div>
                    <ol class="relative space-y-2 mt-4 mb-16">
                        <li class="relative xl:grid grid-cols-5 gap-16">
                            <div class="mb-6 col-span-2 xl:mb-0">
                                <h6
                                    class="inter antialiased text-[14.22px] font-semibold leading-[18.48px] text-neutral-600">
                                    Add the Sting CDN script to your HTML</h6>
                                <p
                                    class="inter antialiased text-[14.22px] font-normal leading-[18.48px] text-neutral-600 mt-2">
                                    Add the Play CDN script tag to the

                                    head of your HTML file, and start using Tailwind’s utility classes to style your
                                    content.
                                </p>
                            </div>
                            <div class="relative z-10 -ml-10 col-span-3 bg-neutral-800 rounded-xl shadow-lg xl:ml-0">
                                <div class="flex justify-end items-center pr-4">
                                    <!-- <button type="button"
                                        class="text-neutral-200 hover:text-neutral-300 active:text-neutral-400">
                                        <svg fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" aria-hidden="true" class="w-8 h-8">
                                            <path
                                                d="M13 10.75h-1.25a2 2 0 0 0-2 2v8.5a2 2 0 0 0 2 2h8.5a2 2 0 0 0 2-2v-8.5a2 2 0 0 0-2-2H19">
                                            </path>
                                            <path
                                                d="M18 12.25h-4a1 1 0 0 1-1-1v-1.5a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v1.5a1 1 0 0 1-1 1ZM13.75 16.25h4.5M13.75 19.25h4.5">
                                            </path>
                                        </svg>
                                    </button> -->
                                </div>
                                <div class="relative">
                                    <div>
                                        <pre class="language-markup break-all">
                                            <code class="language-markup break-all" >
                                               {{codePreview}}
                                            </code>
                                        </pre>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
                <!-- Set ends -->
            </div>
        </div>
    </div>
</main>