<div class="cb-intro-copy">
  
  <p>ICONS</p>
  
  <ul>
    <li><strong>Establish a primary color palette:</strong> Choose a set of colors that will be used consistently throughout the design system. These should include a primary brand color and a range of supporting colors that can be used to create visual hierarchy and interest.</li>
        
  </ul>
    
    <p>By following these guidelines, you can create a color palette that is cohesive, accessible, and effective in conveying meaning and establishing brand identity.</p>
  
  </div>
  
  <div class="py-2 space-y-16">

  <!-- Brand palette -->
  <div class="space-y-6">
    <div class="space-y-2 max-w-3xl">
      <h2 class="cb-text-h5">List of icons</h2>
      <!-- <p class="cb-text-copy-regular">When and how to use these colours... coming soon.</p> -->
    </div>

    <!-- Brand -->
    <div class="space-y-1 text-mini">
<!-- Tables starts -->
<div class="table-container">
  <table class="table">
      <thead class="table-head">
          <tr class="table-head-row">
              <th scope="col" class="table-head-data">
                  <a href="#" class="group inline-flex">
                      Name
                  </a>
              </th>
              <th scope="col" class="table-head-data">
                  <div class="group inline-flex justify-between items-center w-full">
  
                      <a href="#" class="group inline-flex">
                          Email
                          <!-- Active: "bg-gray-200 text-gray-900 group-hover:bg-gray-300", Not Active: "invisible text-gray-400 group-hover:visible group-focus:visible" -->
                      </a>
  
                  </div>
              </th>
              <th scope="col" class="table-head-data">
                  <div class="group inline-flex justify-between items-center w-full">
  
                      <a href="#" class="group inline-flex">
                          Date & Time
                      </a>
  
                  </div>
              </th>
              <th scope="col" class="table-head-data">
                  <div class="group inline-flex justify-between items-center w-full">
  
                      <a href="#" class="group inline-flex">
                          Phone Number
                      </a>
  
                  </div>
              </th>
              <th scope="col" class="table-head-data">
                  <div class="group inline-flex flex-row justify-between items-center w-full">
  
                      <a href="#" class="group inline-flex">
                          Amount
                      </a>
  
                  </div>
              </th>
  
          </tr>
      </thead>
      <tbody class="table-body">
  
          <!-- item selected = bg-info-50 , hover = bg-neutral-50 , hover-selected = bg-info-50 -->
  
          <tr class="table-body-row">
              <td class="table-body-data">
                  <p class="cb-text-h6">
                      Alfred Jones
                  </p>
              </td>
              <td class="table-body-data">
                  <p class="cb-text-copy-regular font-medium">
                      abc@example.com
                  </p>
              </td>
              <td class="table-body-data">
                  <p class="cb-text-copy-regular font-medium">
                      02 Jan 2022 05:45 PM
                  </p>
              </td>
              <td class="table-body-data">
                  <p class="cb-text-copy-regular font-medium flex justify-start">
                      +1(555)555-1234
                  </p>
              </td>
              <td class="table-body-data">
                  <p class="cb-text-copy-regular font-medium">
                      <span class="w-full flex justify-end  font-['roboto_mono']">
                          $45.02482424 USD
                      </span>
                  </p>
              </td>
          </tr>

      </tbody>
  </table>
</div>
  
    </div>
    
  </div>

