<div class="cb-intro-copy">
  
  <p>ICONS</p>
  
  <ul>
    <li><strong>Establish a primary color palette:</strong> Choose a set of colors that will be used consistently throughout the design system. These should include a primary brand color and a range of supporting colors that can be used to create visual hierarchy and interest.</li>
        
  </ul>
    
    <p>By following these guidelines, you can create a color palette that is cohesive, accessible, and effective in conveying meaning and establishing brand identity.</p>
  
  </div>
  
  <div class="py-2 space-y-16">

  <!-- Brand palette -->
  <div class="space-y-6">
    <div class="space-y-2 max-w-3xl">
      <h2 class="cb-text-h5">Brand palette</h2>
      <!-- <p class="cb-text-copy-regular">When and how to use these colours... coming soon.</p> -->
    </div>

    <!-- Brand -->
    <div class="space-y-1 text-mini">

      <ul>
        <li>
          <div class="bg-white" style="width: 411px; height: 96px;">
            <div class="inline-flex space-x-6 items-center justify-start bg-white" style="width: 411px; height: 96px;">
                <div class="relative border rounded border-gray-200" style="width: 96px; height: 96px;">
                    <img class="w-12 h-24 absolute right-0 top-0" src="https://via.placeholder.com/48x96"/>
                    <div class="inline-flex items-center justify-center w-24 h-24 p-7 bg-gray-100">
                        <img class="flex-1 h-full rounded-lg" src="https://via.placeholder.com/42x42"/>
                    </div>
                </div>
                <div class="flex items-center justify-start py-2">
                    <div class="inline-flex flex-col space-y-3 items-start justify-start">
                        <!-- <p class="text-lg font-bold leading-normal text-gray-800"><lifebuoy-icon></lifebuoy-icon></p> -->
                        <div class="flex space-x-1 items-center justify-start">
                            <p class="text-sm leading-tight text-gray-500">token value:</p>
                            <div class="flex items-center justify-center px-2 py-1 bg-black rounded-sm">
                                <p class="text-sm font-bold leading-tight text-right text-blue-300 lowercase">lifebuoy</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </li>
            
      </ul>

    </div>
    
  </div>

