<div>
    <!-- Section heading starts -->
    <div class="border-b border-[#D3D9DC] pb-2">
      <h3 id="typography"
        class="scroll-mt-24 sora antialiased text-[22.78px] font-semibold leading-[34.17px] text-[#012A38]">
        Typography</h3>
    </div>
    <!-- Section heading ends -->
    <div class="max-w-7xl py-6 flex items-center">
      <!-- Set starts -->
      <div class="min-w-0">
        <h6 class="inter antialiased text-[14.22px] font-semibold leading-[18.48px] text-[#3F4E54] mb-2">Font
          Stack</h6>
        <div class="flex items-start space-x-6">
          <div class="w-1/2">
            <p class="cb-text-h1">Sora</p>
            <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Sora is a
              sans serif typeface commissioned as a custom solution for branding and interface design. Sora works
              with blockchain technologies in diverse financial contexts and the typeface had to manifest, without
              any doubt, ideals of technology and engineering which are at the core of their business.</p>
          </div>
          <div class="w-1/2">
            <p class="cb-text-h1">Inter</p>
            <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Inter is a
              versatile typeface designed especially for screens. It's an excellent choice for general user
              interface needs, but can also work well for body copy and headlines.</p>
          </div>
        </div>
      </div>
      <!-- Set ends -->
    </div>
    <div class="max-w-7xl pt-6 flex items-center">
      <!-- Set starts -->
      <div class="min-w-0">
        <h6 class="inter antialiased text-[14.22px] font-semibold leading-[18.48px] text-[#3F4E54] mb-2">Hierarchy
        </h6>
        <div class="space-y-6">
          <div class="flex items-center space-x-6 pb-2">
            <p class="cb-text-display">Display
            </p>
            <div class="flex items-center space-x-1.5">
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Font Sora
              </p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#92A1A8]">•</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Size 2.566
                REM / 41.05 PX</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#92A1A8]">•</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Line 3.335
                REM / 53.36 PX</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#92A1A8]">•</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Weight 600
              </p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#92A1A8]">•</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Primary 500
              </p>
            </div>
          </div>
          <div class="flex items-center space-x-6">
            <h1 class="cb-text-h1">
              Heading 1</h1>
            <div class="flex items-center space-x-1.5">
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Font Sora
              </p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#92A1A8]">•</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Size 1.802
                REM / 28.83 PX</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#92A1A8]">•</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Line 2.342
                REM / 37.47 PX</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#92A1A8]">•</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Weight 600
              </p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#92A1A8]">•</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Primary 500
              </p>
            </div>
          </div>
          <div class="flex items-center space-x-6">
            <h2 class="cb-text-h2">
              Heading 2</h2>
            <div class="flex items-center space-x-1.5">
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Font Sora
              </p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#92A1A8]">•</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Size 1.602
                REM / 25.63 PX</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#92A1A8]">•</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Line 2.082
                REM / 33.31 PX</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#92A1A8]">•</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Weight 600
              </p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#92A1A8]">•</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Primary 500
              </p>
            </div>
          </div>
          <div class="flex items-center space-x-6">
            <h3 class="cb-text-h3">
              Heading 3</h3>
            <div class="flex items-center space-x-1.5">
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Font Sora
              </p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#92A1A8]">•</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Size 1.424
                REM / 22.78 PX</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#92A1A8]">•</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Line 1.851
                REM / 29.61 PX</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#92A1A8]">•</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Weight 600
              </p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#92A1A8]">•</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Primary 500
              </p>
            </div>
          </div>
          <div class="flex items-center space-x-6">
            <h4 class="cb-text-h4">
              Heading 4</h4>
            <div class="flex items-center space-x-1.5">
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Font Sora
              </p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#92A1A8]">•</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Size 1.266
                REM / 20.25 PX</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#92A1A8]">•</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Line 1.645
                REM / 26.32 PX</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#92A1A8]">•</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Weight 600
              </p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#92A1A8]">•</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Primary 500
              </p>
            </div>
          </div>
          <div class="flex items-center space-x-6">
            <h5 class="cb-text-h5">Heading 5
            </h5>
            <div class="flex items-center space-x-1.5">
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Font Sora
              </p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#92A1A8]">•</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Size 1.125
                REM / 18 PX</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#92A1A8]">•</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Line 1.463
                REM / 23.4 PX</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#92A1A8]">•</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Weight 600
              </p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#92A1A8]">•</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Primary 500
              </p>
            </div>
          </div>
          <div class="flex items-center space-x-6 pb-6">
            <h6 class="cb-text-h6">
              Heading 6</h6>
            <div class="w-max flex items-center space-x-1.5">
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Font Inter
              </p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#92A1A8]">•</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Size 0.889
                REM / 14.22 PX</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#92A1A8]">•</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Line 1.155
                REM / 18.48 PX</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#92A1A8]">•</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Weight 600
              </p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#92A1A8]">•</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Neutral 600
              </p>
            </div>
          </div>
          <div class="flex items-center space-x-6">
            <p class="cb-text-copy-large">Copy Large
            </p>
            <div class="flex items-center space-x-1.5">
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Font Inter
              </p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#92A1A8]">•</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Size 1 REM
                / 16 PX</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#92A1A8]">•</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Line 1.3
                REM / 20.8 PX</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#92A1A8]">•</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Weight 400
              </p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#92A1A8]">•</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Neutral 600
              </p>
            </div>
          </div>
          <div class="flex items-center space-x-6">
            <p class="cb-text-copy-regular">Copy
              Regular</p>
            <div class="flex items-center space-x-1.5">
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Font Inter
              </p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#92A1A8]">•</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Size 0.889
                REM / 14.22 PX</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#92A1A8]">•</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Line 1.155
                REM / 18.48 PX</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#92A1A8]">•</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Weight 400
              </p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#92A1A8]">•</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Neutral 600
              </p>
            </div>
          </div>
          <div class="flex items-center space-x-6">
            <p class="cb-text-copy-small">Copy
              Small</p>
            <div class="flex items-center space-x-1.5">
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Font Inter
              </p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#92A1A8]">•</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Size 0.79
                REM / 12.64 PX</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#92A1A8]">•</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Line 1.027
                REM / 16.43 PX</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#92A1A8]">•</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Weight 400
              </p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#92A1A8]">•</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Neutral 400
              </p>
            </div>
          </div>
          <div class="flex items-center space-x-6">
            <p
              class="cb-text-copy-upper">
              Copy Upper</p>
            <div class="flex items-center space-x-1.5">
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Font Inter
              </p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#92A1A8]">•</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Size 0.702
                REM / 11.24 PX</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#92A1A8]">•</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Line 0.913
                REM / 14.61 PX</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#92A1A8]">•</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Weight 400
              </p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#92A1A8]">•</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Neutral 400
              </p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#92A1A8]">•</p>
              <p class="inter antialiased text-[12.64px] font-normal leading-[16.43px] text-[#617178]">Case Upper
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Set ends -->
    </div>
  </div>