<div class="space-y-4">
    <div class="cb-text-display">Display</div>
    <h1 class="cb-text-h1">Header 1</h1>
    <h2 class="cb-text-h2">Header 2</h2>
    <h3 class="cb-text-h3">Header 3</h3>
    <h4 class="cb-text-h4">Header 4</h4>
    <h5 class="cb-text-h5">Header 5</h5>
    <h6 class="cb-text-h6">Header 6</h6>
    <p class="cb-text-copy-large">Copy Large</p>
    <p class="cb-text-copy-regular">Copy Regular</p>
    <p class="cb-text-copy-small">Copy Small</p>
    <p class="cb-text-copy-upper">Copy upper</p>
</div>