<p class="cb-text-copy-large mt-4 max-w-3xl leading-6"> The design principle of metaphors refers to the idea of
    using familiar objects or concepts to represent new or unfamiliar ideas in a user interface. Metaphors can
    help users understand and interact with a system more easily, by providing a familiar frame of reference.
</p>
<!-- Main area starts -->
<div class="border-b border-neutral-200 pb-8"></div>
<div class="pb-20">

    <div class="mt-16">
        <!-- Highlights -->
        <div class="min-w-0 flex-1" id="c1">
            <p class="cb-text-h2">Guidelines</p>
            <div class="grid grid-cols-1 gap-6 mt-6">
                <div class="min-w-0 flex-1">
                    <p class="cb-text-h5">Use familiar metaphors</p>
                    <p class="cb-text-copy-regular mt-1 max-w-3xl leading-5">Choose metaphors that users are
                        already
                        familiar
                        with, such as using a trash can icon to represent deleting an item.</p>
                </div>
                <div class="min-w-0 flex-1">
                    <p class="cb-text-h5">Use consistent metaphors</p>
                    <p class="cb-text-copy-regular mt-1 max-w-3xl leading-5">Use the same metaphor consistently
                        throughout the
                        user interface, so users don't have to relearn the meaning of each metaphor.</p>
                </div>
                <div class="min-w-0 flex-1">
                    <p class="cb-text-h5">Use relevant metaphors</p>
                    <p class="cb-text-copy-regular mt-1 max-w-3xl leading-5">Choose metaphors that are relevant
                        to the
                        actions
                        or concepts being represented, so they make sense to users.</p>
                </div>
                <div class="min-w-0 flex-1">
                    <p class="cb-text-h5">Avoid using too many metaphors</p>
                    <p class="cb-text-copy-regular mt-1 max-w-3xl leading-5"> Don't overuse metaphors, as too
                        many can
                        be
                        confusing for users. </p>
                </div>
                <div class="min-w-0 flex-1">
                    <p class="cb-text-h5">Test your metaphors</p>
                    <p class="cb-text-copy-regular mt-1 max-w-3xl leading-5">Test your metaphors with users to
                        ensure
                        that they
                        are understood and effective in helping users understand and interact with the system.
                    </p>
                </div>
            </div>
        </div>
        <!-- Examples -->
        <div>
            <div class="mt-24 min-w-0 flex-1" id="c2">
                <p class="cb-text-h3">Examples</p>
                <p class="cb-text-copy-regular mt-1 max-w-3xl"> By using metaphors in design, you can help to
                    make
                    complex or abstract concepts more familiar and intuitive for users, improving their overall
                    experience with the application. Few examples below shows how the design principle of
                    metaphors
                    can be applied in the Chargebee app. </p>
                <div class="mt-8 grid grid-cols-2 gap-8">
                    <div class="space-y-4">
                        <div
                            class="border border-neutral-100 bg-neutral-50 bg-opacity-40 rounded-lg h-36 px-12 flex items-center justify-center">
                            <!-- Visual Reference -->
                        </div>
                        <div>
                            <p class="cb-text-h6 tracking-normal">Task management</p>
                            <p class="cb-text-copy-regular mt-1 max-w-3xl leading-5"> Using a metaphor of a
                                to-do list or
                                calendar to represent a task management system can help users understand how to
                                prioritize
                                and organize their tasks. </p>
                        </div>
                    </div>
                    <div class="space-y-4">
                        <div
                            class="border border-neutral-100 bg-neutral-50 bg-opacity-40 rounded-lg h-36 px-12 flex items-center justify-center">
                            <!-- Visual Reference -->
                        </div>
                        <div>
                            <p class="cb-text-h6 tracking-normal">Data visualization</p>
                            <p class="cb-text-copy-regular mt-1 max-w-3xl leading-5"> Using metaphors such as
                                graphs,
                                charts, or maps to represent data can help users understand and interpret
                                complex data sets
                                more easily. </p>
                        </div>
                    </div>
                    <div class="space-y-4">
                        <div
                            class="border border-neutral-100 bg-neutral-50 bg-opacity-40 rounded-lg h-36 px-6 flex items-center justify-center overflow-hidden">
                            <!-- Visual Reference -->
                        </div>
                        <div>
                            <p class="cb-text-h6 tracking-normal">Navigation</p>
                            <p class="cb-text-copy-regular mt-1 max-w-3xl leading-5"> Using metaphors such as a
                                menu or a
                                map to represent the different areas of the application can help users
                                understand how to
                                navigate the application and access different features. </p>
                        </div>
                    </div>
                    <div class="space-y-4">
                        <div
                            class="border border-neutral-100 bg-neutral-50 bg-opacity-40 rounded-lg h-36 px-6 flex items-center justify-center overflow-hidden">
                            <!-- Visual Reference -->
                        </div>
                        <div>
                            <p class="cb-text-h6 tracking-normal">Payment method selection</p>
                            <p class="cb-text-copy-regular mt-1 max-w-3xl leading-5"> Using metaphors such as
                                cards or
                                wallets to represent different payment methods can help users understand how to
                                select and
                                use a particular payment method. </p>
                        </div>
                    </div>
                    <div class="space-y-4">
                        <div
                            class="border border-neutral-100 bg-neutral-50 bg-opacity-40 rounded-lg h-36 px-6 flex items-center justify-center overflow-hidden">
                            <!-- Visual Reference -->
                        </div>
                        <div>
                            <p class="cb-text-h6 tracking-normal">Payment process</p>
                            <p class="cb-text-copy-regular mt-1 max-w-3xl leading-5"> Using a metaphor of a
                                check-out
                                process or a shopping cart to represent the payment process can help users
                                understand how to
                                complete a payment and track the status of their transaction. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main area ends -->