<app-sub-header></app-sub-header>

<div class="max-w-container py-16">
    <!-- <div class="text-2xl font-extrabold" >Application UI</div>
    <p class="text-sm text-gray-500 pt-3 py-6 ">Form layouts, tables, modal windows — everything you need to build beautiful responsive web applications.</p> -->

   <div class="pt-8 pb-20">
    <app-forms></app-forms>
   </div>

   <div class="pt-8 pb-20">
    <app-feedback></app-feedback>
   </div>

   <div class="pt-8 pb-20">
    <app-elements></app-elements>
   </div>

   


<!-- <app-forms></app-forms> -->
</div>


