<div class="min-w-0  flex-auto  flex ">
    <main class="relative z-0   flex-1 focus:outline-none ">

        <p class="cb-text-copy-large mt-4 max-w-3xl leading-6"> The design principle of feedback refers to
            the idea that an application or system should provide users with information about the actions
            they have taken and the results of those actions. This can help users understand what is
            happening, identify any issues that may arise, and feel more in control of the system. </p>
        <!-- Main area starts -->
        <div class="border-b border-neutral-200 pb-8"></div>
        <div class="pb-20">

            <div class="mt-16">
                <!-- Highlights -->
                <div class="min-w-0 flex-1" id="c1">
                    <p class="cb-text-h2">Guidelines</p>
                    <div class="grid grid-cols-1 gap-6 mt-6">
                        <div class="min-w-0 flex-1">
                            <p class="cb-text-h5">Make feedback timely</p>
                            <p class="cb-text-copy-regular mt-1 max-w-3xl leading-5">Feedback should be provided as soon
                                as
                                possible
                                after an action has been taken, so users can quickly understand the consequences of
                                their
                                actions.</p>
                        </div>
                        <div class="min-w-0 flex-1">
                            <p class="cb-text-h5">Make feedback relevant</p>
                            <p class="cb-text-copy-regular mt-1 max-w-3xl leading-5">Feedback should be relevant to the
                                action
                                that
                                was taken, so users can understand how their actions are affecting the system.</p>
                        </div>
                        <div class="min-w-0 flex-1">
                            <p class="cb-text-h5">Make feedback clear</p>
                            <p class="cb-text-copy-regular mt-1 max-w-3xl leading-5">Feedback should be presented in a
                                clear
                                and
                                concise way, using language and formatting that is easy to understand.</p>
                        </div>
                        <div class="min-w-0 flex-1">
                            <p class="cb-text-h5">Make feedback actionable</p>
                            <p class="cb-text-copy-regular mt-1 max-w-3xl leading-5"> Feedback should provide users with
                                information
                                that they can use to take further action, such as by providing them with options for how
                                to
                                resolve an issue or move forward. </p>
                        </div>
                        <div class="min-w-0 flex-1">
                            <p class="cb-text-h5">Make feedback consistent</p>
                            <p class="cb-text-copy-regular mt-1 max-w-3xl leading-5">Feedback should be consistent
                                across the
                                application or system, so users can easily understand how to interpret and use the
                                information
                                they receive.</p>
                        </div>
                    </div>
                </div>
                <!-- Examples -->
                <div>
                    <div class="mt-24 min-w-0 flex-1" id="c2">
                        <p class="cb-text-h3">Examples</p>
                        <p class="cb-text-copy-regular mt-1 max-w-3xl"> By providing clear and timely feedback to users,
                            you
                            can help to improve the overall user experience and reduce frustration. Few examples below
                            shows
                            how the design principle of feedback can be applied in the Chargebee app. </p>
                        <div class="mt-8 grid grid-cols-2 gap-8">
                            <div class="space-y-4">
                                <div
                                    class="border border-neutral-100 bg-neutral-50 bg-opacity-40 rounded-lg h-36 px-12 flex items-center justify-center">
                                    <!-- Visual Reference -->
                                    <div class="form-control">
                                        <div class="relative shadow-sm">
                                            <input disabled type="email" name="email" id="email"
                                                class="input-error !rounded-lg !border-red-300" placeholder="" value=""
                                                aria-invalid="true" aria-describedby="email-error" />
                                            <div class="input-icon-trailing">
                                                <svg class="input-icon-error !text-red-300"
                                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                    fill="currentColor" aria-hidden="true">
                                                    <path fill-rule="evenodd"
                                                        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                                                        clip-rule="evenodd" />
                                                </svg>
                                            </div>
                                        </div>
                                        <p class="error-text !text-red-400 !pb-0" id="email-error">Card number cannot
                                            contain
                                            characters.</p>
                                    </div>
                                </div>
                                <div>
                                    <p class="cb-text-h6 tracking-normal">In-line validation</p>
                                    <p class="cb-text-copy-regular mt-1 max-w-3xl leading-5"> When a user is entering
                                        data into a
                                        form, providing immediate feedback on whether the data is valid can help to
                                        reduce
                                        frustration and improve the overall user experience. </p>
                                </div>
                            </div>
                            <div class="space-y-4">
                                <div
                                    class="border border-neutral-100 bg-neutral-50 bg-opacity-40 rounded-lg h-36 px-12 flex items-center justify-center">
                                    <!-- Visual Reference -->
                                    <div>
                                        <button disabled type="button"
                                            class="inline-flex items-center rounded-lg bg-primary-800 bg-opacity-50 px-4 py-2 text-sm font-medium text-white">
                                            <svg class="h-4 w-4 mr-2 -ml-1 animate-spin text-white"
                                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor"
                                                    stroke-width="4"></circle>
                                                <path class="opacity-75" fill="currentColor"
                                                    d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                                                </path>
                                            </svg> Submitting </button>
                                    </div>
                                </div>
                                <div>
                                    <p class="cb-text-h6 tracking-normal">Loading indicators</p>
                                    <p class="cb-text-copy-regular mt-1 max-w-3xl leading-5"> When a user initiates an
                                        action that
                                        requires the application to load data or perform some other task, a loading
                                        indicator can
                                        provide feedback to the user that the action is being processed. </p>
                                </div>
                            </div>
                            <div class="space-y-4">
                                <div
                                    class="border border-neutral-100 bg-neutral-50 bg-opacity-40 rounded-lg h-36 px-6 flex items-center justify-center overflow-hidden">
                                    <!-- Visual Reference -->
                                    <div class="alert alert-danger mt-2 bg-red-50 rounded-lg border-none p-2.5">
                                        <div>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                fill="currentColor" aria-hidden="true" class="!text-red-400 mt-0.5">
                                                <path fill-rule="evenodd"
                                                    d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z"
                                                    clip-rule="evenodd" />
                                            </svg>
                                            <div> <span class="cb-text-copy-small font-medium text-red-500 block">Cannot
                                                    delete the
                                                    only
                                                    payment method for this account. Setup a backup payment method to
                                                    delete the current
                                                    one.</span> </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <p class="cb-text-h6 tracking-normal">Error messages</p>
                                    <p class="cb-text-copy-regular mt-1 max-w-3xl leading-5"> If an error occurs while a
                                        user is
                                        interacting with the application, providing a clear and concise error message
                                        can help the
                                        user understand what went wrong and how to fix it. </p>
                                </div>
                            </div>
                            <div class="space-y-4">
                                <div
                                    class="border border-neutral-100 bg-neutral-50 bg-opacity-40 rounded-lg h-36 px-6 flex items-center justify-center overflow-hidden">
                                    <!-- Visual Reference -->
                                    <div class="alert alert-danger mt-2 bg-green-100 rounded-lg border-none p-2.5">
                                        <div>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                fill="currentColor" class="!text-green-600 mt-0.5">
                                                <path fill-rule="evenodd"
                                                    d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
                                                    clip-rule="evenodd" />
                                            </svg>
                                            <div> <span class="cb-text-copy-small font-medium text-green-700 block">The
                                                    customer has
                                                    been
                                                    created successfully. You can now add subscriptions to the
                                                    customer.</span> </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <p class="cb-text-h6 tracking-normal">Confirmation messages</p>
                                    <p class="cb-text-copy-regular mt-1 max-w-3xl leading-5"> When a user performs an
                                        action that
                                        has significant consequences, such as deleting a file or making a purchase, a
                                        confirmation
                                        message can provide feedback to the user that the action has been completed.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main area ends -->


    </main>



</div>