<p class="cb-text-copy-large mt-4  leading-6">Stay up to date with all of the latest additions and
    improvements we've made to Sting.</p>
<!-- Main area starts -->
<div class="border-b border-neutral-200 pb-8"></div>
<div class="pb-20">

    <div class="mt-16">
        <section id="section-1" aria-labelledby="section-1-heading" class="md:flex">
            <p id="section-1-heading" class="cb-text-copy-regular pl-7 md:w-1/4 md:pl-0 md:pr-12 md:text-right">
                <a href="#">January 1, 2023</a>
            </p>
            <div class="relative pt-2 pl-7 pb-16 md:w-3/4 md:pt-0 md:pl-12">
                <div class="absolute bottom-0 left-0 -top-3 w-px bg-neutral-200 md:top-2.5"></div>
                <div
                    class="bg-primary-400 absolute -top-[1.0625rem] -left-1 h-[0.5625rem] w-[0.5625rem] rounded-full md:top-[0.4375rem]">
                </div>
                <div class="cb-text-copy-regular mb-4 max-w-none">
                    <p class="cb-text-h5">Suspendisse sed nisi lacus sed</p>
                    <p class="cb-text-copy-regular mt-2 leading-5"> Lorem ipsum dolor sit amet, consectetur
                        adipiscing
                        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt dui
                        ut ornare
                        lectus. Urna condimentum mattis pellentesque id. Dictum sit amet justo donec enim diam
                        vulputate. </p>
                    <p class="cb-text-copy-regular mt-2 leading-5"> Posuere lorem ipsum dolor sit amet. Cras
                        semper
                        auctor neque vitae tempus quam pellentesque nec. Sit amet tellus cras adipiscing enim
                        eu. Dui
                        sapien eget mi proin sed libero enim sed. Pharetra diam sit amet nisl suscipit
                        adipiscing
                        bibendum est. </p>
                </div>
            </div>
        </section>
        <section id="section-1" aria-labelledby="section-1-heading" class="md:flex">
            <p id="section-1-heading" class="cb-text-copy-regular pl-7 md:w-1/4 md:pl-0 md:pr-12 md:text-right">
                <a href="#">January 1, 2023</a>
            </p>
            <div class="relative pt-2 pl-7 pb-16 md:w-3/4 md:pt-0 md:pl-12">
                <div class="absolute bottom-0 left-0 -top-6 w-px bg-neutral-200 md:top-0"></div>
                <div
                    class="bg-primary-400 absolute -top-[1.0625rem] -left-1 h-[0.5625rem] w-[0.5625rem] rounded-full md:top-[0.4375rem]">
                </div>
                <div class="cb-text-copy-regular mb-4 max-w-none">
                    <p class="cb-text-h5">Suspendisse sed nisi lacus sed</p>
                    <p class="cb-text-copy-regular mt-2 leading-5"> Lorem ipsum dolor sit amet, consectetur
                        adipiscing
                        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt dui
                        ut ornare
                        lectus. Urna condimentum mattis pellentesque id. Dictum sit amet justo donec enim diam
                        vulputate. </p>
                    <p class="cb-text-copy-regular mt-2 leading-5"> Posuere lorem ipsum dolor sit amet. Cras
                        semper
                        auctor neque vitae tempus quam pellentesque nec. Sit amet tellus cras adipiscing enim
                        eu. Dui
                        sapien eget mi proin sed libero enim sed. Pharetra diam sit amet nisl suscipit
                        adipiscing
                        bibendum est. </p>
                </div>
            </div>
        </section>
        <section id="section-1" aria-labelledby="section-1-heading" class="md:flex">
            <p id="section-1-heading" class="cb-text-copy-regular pl-7 md:w-1/4 md:pl-0 md:pr-12 md:text-right">
                <a href="#">January 1, 2023</a>
            </p>
            <div class="relative pt-2 pl-7 pb-16 md:w-3/4 md:pt-0 md:pl-12">
                <div class="absolute bottom-0 left-0 -top-6 w-px bg-neutral-200 md:top-0"></div>
                <div
                    class="bg-primary-400 absolute -top-[1.0625rem] -left-1 h-[0.5625rem] w-[0.5625rem] rounded-full md:top-[0.4375rem]">
                </div>
                <div class="cb-text-copy-regular mb-4 max-w-none">
                    <p class="cb-text-h5">Suspendisse sed nisi lacus sed</p>
                    <p class="cb-text-copy-regular mt-2 leading-5"> Lorem ipsum dolor sit amet, consectetur
                        adipiscing
                        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt dui
                        ut ornare
                        lectus. Urna condimentum mattis pellentesque id. Dictum sit amet justo donec enim diam
                        vulputate. </p>
                    <p class="cb-text-copy-regular mt-2 leading-5"> Posuere lorem ipsum dolor sit amet. Cras
                        semper
                        auctor neque vitae tempus quam pellentesque nec. Sit amet tellus cras adipiscing enim
                        eu. Dui
                        sapien eget mi proin sed libero enim sed. Pharetra diam sit amet nisl suscipit
                        adipiscing
                        bibendum est. </p>
                </div>
            </div>
        </section>
        <section id="section-1" aria-labelledby="section-1-heading" class="md:flex">
            <p id="section-1-heading" class="cb-text-copy-regular pl-7 md:w-1/4 md:pl-0 md:pr-12 md:text-right">
                <a href="#">January 1, 2023</a>
            </p>
            <div class="relative pt-2 pl-7 pb-16 md:w-3/4 md:pt-0 md:pl-12">
                <div class="absolute bottom-0 left-0 -top-6 w-px bg-neutral-200 md:top-0"></div>
                <div
                    class="bg-primary-400 absolute -top-[1.0625rem] -left-1 h-[0.5625rem] w-[0.5625rem] rounded-full md:top-[0.4375rem]">
                </div>
                <div class="cb-text-copy-regular mb-4 max-w-none">
                    <p class="cb-text-h5">Suspendisse sed nisi lacus sed</p>
                    <p class="cb-text-copy-regular mt-2 leading-5"> Lorem ipsum dolor sit amet, consectetur
                        adipiscing
                        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt dui
                        ut ornare
                        lectus. Urna condimentum mattis pellentesque id. Dictum sit amet justo donec enim diam
                        vulputate. </p>
                    <p class="cb-text-copy-regular mt-2 leading-5"> Posuere lorem ipsum dolor sit amet. Cras
                        semper
                        auctor neque vitae tempus quam pellentesque nec. Sit amet tellus cras adipiscing enim
                        eu. Dui
                        sapien eget mi proin sed libero enim sed. Pharetra diam sit amet nisl suscipit
                        adipiscing
                        bibendum est. </p>
                </div>
            </div>
        </section>
        <section id="section-1" aria-labelledby="section-1-heading" class="md:flex">
            <p id="section-1-heading" class="cb-text-copy-regular pl-7 md:w-1/4 md:pl-0 md:pr-12 md:text-right">
                <a href="#">January 1, 2023</a>
            </p>
            <div class="relative pt-2 pl-7 pb-16 md:w-3/4 md:pt-0 md:pl-12">
                <div class="absolute bottom-0 left-0 -top-6 w-px bg-neutral-200 md:top-0"></div>
                <div
                    class="bg-primary-400 absolute -top-[1.0625rem] -left-1 h-[0.5625rem] w-[0.5625rem] rounded-full md:top-[0.4375rem]">
                </div>
                <div class="cb-text-copy-regular mb-4 max-w-none">
                    <p class="cb-text-h5">Suspendisse sed nisi lacus sed</p>
                    <p class="cb-text-copy-regular mt-2 leading-5"> Lorem ipsum dolor sit amet, consectetur
                        adipiscing
                        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt dui
                        ut ornare
                        lectus. Urna condimentum mattis pellentesque id. Dictum sit amet justo donec enim diam
                        vulputate. </p>
                    <p class="cb-text-copy-regular mt-2 leading-5"> Posuere lorem ipsum dolor sit amet. Cras
                        semper
                        auctor neque vitae tempus quam pellentesque nec. Sit amet tellus cras adipiscing enim
                        eu. Dui
                        sapien eget mi proin sed libero enim sed. Pharetra diam sit amet nisl suscipit
                        adipiscing
                        bibendum est. </p>
                </div>
            </div>
        </section>
        <section id="section-1" aria-labelledby="section-1-heading" class="md:flex">
            <p id="section-1-heading" class="cb-text-copy-regular pl-7 md:w-1/4 md:pl-0 md:pr-12 md:text-right">
                <a href="#">January 1, 2023</a>
            </p>
            <div class="relative pt-2 pl-7 pb-16 md:w-3/4 md:pt-0 md:pl-12">
                <div class="absolute bottom-0 left-0 -top-6 w-px bg-neutral-200 md:top-0"></div>
                <div
                    class="bg-primary-400 absolute -top-[1.0625rem] -left-1 h-[0.5625rem] w-[0.5625rem] rounded-full md:top-[0.4375rem]">
                </div>
                <div class="cb-text-copy-regular mb-4 max-w-none">
                    <p class="cb-text-h5">Suspendisse sed nisi lacus sed</p>
                    <p class="cb-text-copy-regular mt-2 leading-5"> Lorem ipsum dolor sit amet, consectetur
                        adipiscing
                        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt dui
                        ut ornare
                        lectus. Urna condimentum mattis pellentesque id. Dictum sit amet justo donec enim diam
                        vulputate. </p>
                    <p class="cb-text-copy-regular mt-2 leading-5"> Posuere lorem ipsum dolor sit amet. Cras
                        semper
                        auctor neque vitae tempus quam pellentesque nec. Sit amet tellus cras adipiscing enim
                        eu. Dui
                        sapien eget mi proin sed libero enim sed. Pharetra diam sit amet nisl suscipit
                        adipiscing
                        bibendum est. </p>
                </div>
            </div>
        </section>
        <section id="section-1" aria-labelledby="section-1-heading" class="md:flex">
            <p id="section-1-heading" class="cb-text-copy-regular pl-7 md:w-1/4 md:pl-0 md:pr-12 md:text-right">
                <a href="#">January 1, 2023</a>
            </p>
            <div class="relative pt-2 pl-7 pb-2 md:w-3/4 md:pt-0 md:pl-12">
                <div class="absolute bottom-0 left-0 -top-6 w-px bg-neutral-200 md:top-0"></div>
                <div
                    class="bg-primary-400 absolute -top-[1.0625rem] -left-1 h-[0.5625rem] w-[0.5625rem] rounded-full md:top-[0.4375rem]">
                </div>
                <div class="absolute bottom-0 -left-1 h-[0.5625rem] w-[0.5625rem] rounded-full bg-neutral-200">
                </div>
                <div class="cb-text-copy-regular mb-4 max-w-none">
                    <p class="cb-text-h5">Suspendisse sed nisi lacus sed</p>
                    <p class="cb-text-copy-regular mt-2 leading-5"> Lorem ipsum dolor sit amet, consectetur
                        adipiscing
                        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt dui
                        ut ornare
                        lectus. Urna condimentum mattis pellentesque id. Dictum sit amet justo donec enim diam
                        vulputate. </p>
                    <p class="cb-text-copy-regular mt-2 leading-5"> Posuere lorem ipsum dolor sit amet. Cras
                        semper
                        auctor neque vitae tempus quam pellentesque nec. Sit amet tellus cras adipiscing enim
                        eu. Dui
                        sapien eget mi proin sed libero enim sed. Pharetra diam sit amet nisl suscipit
                        adipiscing
                        bibendum est. </p>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- Main area ends -->