  <!-- forms -->
  <div class="border-t border-gray-300 flex pt-8">
    <div class="w-3/12 component-heading">Forms</div>
    <div class="grid grid-cols-3 w-9/12 gap-10">
      

        <div *ngFor="let formComponent of formComponents">
            <a [routerLink]="formComponent.link">
                <div class="component-box">
                  <div class="">
                    <img [src]="'./assets/images/'+formComponent.image" alt="">
                  </div>
                  <div class=" bg-white rounded-br-md rounded-bl-md px-4 py-3  ">
                    <div class="text-sm font-semibold" [innerText]="formComponent.title"></div>
                    <p class="text-xs pt-1 text-gray-500" ><span [innerText]="formComponent.noOfComponents"></span> Components</p>
                  </div>
                </div>
              </a>
        </div>



    </div>


    

  
  </div> 
