  <!-- forms -->

  <section >
    <div class="my-16"></div>
    <div class="flex items-center mb-3 whitespace-nowrap">
        <h2 class="font-medium text-gray-900 truncate">
            <a href="#" class="mr-1">Input with Label </a>
        </h2>

        <div class="flex-none flex items-center ml-auto pl-4 sm:pl-6">
            <div class="group p-0.5 rounded-lg flex bg-gray-100 hover:bg-gray-200">
                <button  type="button" (click)="activeTab = 'preview'" 
                    class="flex focus-visible:ring-2 focus-visible:ring-teal-500 focus-visible:ring-offset-2 rounded-md focus:outline-none focus-visible:ring-offset-gray-100"
                   >
                    <span 
                        class="p-1.5 lg:pl-2.5 lg:pr-3.5 rounded-md flex items-center text-sm font-medium shadow-sm ring-1 ring-black ring-opacity-5"
                        [ngClass]="activeTab === 'preview' ? 'bg-white shadow-sm ring-1 ring-black ring-opacity-5' : ''"
                        >
                        <svg aria-hidden="true" width="20" height="20" fill="none"
                            class="lg:mr-2 text-teal-500">
                            <path
                                d="M17.25 10c0 1-1.75 6.25-7.25 6.25S2.75 11 2.75 10 4.5 3.75 10 3.75 17.25 9 17.25 10z"
                                stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <circle cx="10" cy="10" r="2.25" stroke="currentColor" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <span class="text-gray-900 sr-only lg:not-sr-only">Preview</span>
                    </span>
                
                </button>
                <button type="button"
                (click)="activeTab = 'code'" 
                    class="ml-0.5 p-1.5 lg:pl-2.5 lg:pr-3.5 rounded-md flex items-center text-sm text-gray-600 font-medium focus-visible:ring-2 focus-visible:ring-teal-500 focus-visible:ring-offset-2 focus:outline-none focus-visible:ring-offset-gray-100"
                    [ngClass]="activeTab === 'code' ? 'bg-white shadow-sm ring-1 ring-black ring-opacity-5' : ''"
                    tabindex="-1"
                    :tabindex="componentList.activeTab === 'code' ? '0' : '-1'"
                    
                  >
                    <svg aria-hidden="true" width="20" height="20" fill="none" class="lg:mr-2"
                    [ngClass]="activeTab === 'code' ? 'text-teal-500' : 'text-gray-500 group-hover:text-gray-900'">
                        <path d="M13.75 6.75l3.5 3.25-3.5 3.25M6.25 13.25L2.75 10l3.5-3.25"
                            stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                    <span class="sr-only lg:not-sr-only"
                    [ngClass]="activeTab === 'code' ? 'text-gray-900' : 'text-gray-600 group-hover:text-gray-900'">Code</span>
                </button>



            </div>
         
        </div>


    </div>

    <div class="relative bg-gray-500 rounded-lg ring-1 ring-gray-900 ring-opacity-5 overflow-hidden">
        <div [ngClass]="{ 'block': activeTab === 'preview', 'hidden': activeTab !== 'preview' }"
            class="block">
            <div 
            
                class="min-w-full sm:min-w-[392px] relative sm:pr-4 ">
                <div id="frame-d6ba419d2b33a8ab4fd662189bfd8a31" class="bg-white resize-x overflow-auto">
              

                        <!--priview-->
                        <div class="p-8 flex items-center justify-center bg-white">
                            <div class="w-full max-w-xs mx-auto " [ngClass]="previewScreenSize">
                                
                     

                          <div >
                            <div class="form-control"> 
                                <label for="email" class="label">Email</label>       
                                    <div class="mt-1">          
                                        <input type="email" name="email" class="input" id="email"  placeholder="you@example.com">  
                                    </div>  
                                </div>
                          </div>
                        
                            </div>
                          </div>


                        </div>

                        <!--preview-->


                    <div 
                        class="hidden absolute opacity-0 inset-0 mr-4 pointer-events-none sm:block">
                    </div>
                    <div x-ref="handle" 
                        class="sr-only sm:not-sr-only sm:border-l sm:bg-gray-100 sm:absolute sm:right-0 sm:inset-y-0 sm:flex sm:items-center sm:w-4 cursor-[ew-resize]"
                        style="touch-action: none">
                        <div class="absolute inset-y-0 -inset-x-2"></div>
                        <svg aria-hidden="true" class="h-4 w-4 text-gray-600 pointer-events-none"
                            fill="currentColor" viewBox="0 0 24 24">
                            <path d="M8 5h2v14H8zM14 5h2v14h-2z" />
                        </svg>
                    </div>

                    
                </div>
            </div>
        </div>
        <div [ngClass]="{ 'block': activeTab === 'code', 'hidden': activeTab !== 'code' }"
            class="hidden bg-black overflow-auto relative">
            <div class="text-gray-50 text-xs">
                <pre class="language-markup break-all"><code class="language-markup break-all">
                  {{codePreview}}
                </code></pre>

               
        </div>



        </div>

      




</section>





<section >
    <div class="my-16"></div>
    <div class="flex items-center mb-3 whitespace-nowrap">
        <h2 class="font-medium text-gray-900 truncate">
            <a href="#" class="mr-1">Input with Label </a>
        </h2>

        <div class="flex-none flex items-center ml-auto pl-4 sm:pl-6">
            <div class="group p-0.5 rounded-lg flex bg-gray-100 hover:bg-gray-200">
                <button  type="button" (click)="withLabelactiveTab = 'preview'" 
                    class="flex focus-visible:ring-2 focus-visible:ring-teal-500 focus-visible:ring-offset-2 rounded-md focus:outline-none focus-visible:ring-offset-gray-100"
                   >
                    <span 
                        class="p-1.5 lg:pl-2.5 lg:pr-3.5 rounded-md flex items-center text-sm font-medium shadow-sm ring-1 ring-black ring-opacity-5"
                        [ngClass]="withLabelactiveTab === 'preview' ? 'bg-white shadow-sm ring-1 ring-black ring-opacity-5' : ''"
                        >
                        <svg aria-hidden="true" width="20" height="20" fill="none"
                            class="lg:mr-2 text-teal-500">
                            <path
                                d="M17.25 10c0 1-1.75 6.25-7.25 6.25S2.75 11 2.75 10 4.5 3.75 10 3.75 17.25 9 17.25 10z"
                                stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <circle cx="10" cy="10" r="2.25" stroke="currentColor" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <span class="text-gray-900 sr-only lg:not-sr-only">Preview</span>
                    </span>
                
                </button>
                <button type="button"
                (click)="withLabelactiveTab = 'code'" 
                    class="ml-0.5 p-1.5 lg:pl-2.5 lg:pr-3.5 rounded-md flex items-center text-sm text-gray-600 font-medium focus-visible:ring-2 focus-visible:ring-teal-500 focus-visible:ring-offset-2 focus:outline-none focus-visible:ring-offset-gray-100"
                    [ngClass]="withLabelactiveTab === 'code' ? 'bg-white shadow-sm ring-1 ring-black ring-opacity-5' : ''"
                    tabindex="-1"
                    :tabindex="componentList.activeTab === 'code' ? '0' : '-1'"
                    
                  >
                    <svg aria-hidden="true" width="20" height="20" fill="none" class="lg:mr-2"
                    [ngClass]="withLabelactiveTab === 'code' ? 'text-teal-500' : 'text-gray-500 group-hover:text-gray-900'">
                        <path d="M13.75 6.75l3.5 3.25-3.5 3.25M6.25 13.25L2.75 10l3.5-3.25"
                            stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                    <span class="sr-only lg:not-sr-only"
                    [ngClass]="withLabelactiveTab === 'code' ? 'text-gray-900' : 'text-gray-600 group-hover:text-gray-900'">Code</span>
                </button>



            </div>
         
        </div>


    </div>

    <div class="relative bg-gray-500 rounded-lg ring-1 ring-gray-900 ring-opacity-5 overflow-hidden">
        <div [ngClass]="{ 'block': withLabelactiveTab === 'preview', 'hidden': withLabelactiveTab !== 'preview' }"
            class="block">
            <div 
            
                class="min-w-full sm:min-w-[392px] relative sm:pr-4 ">
                <div id="frame-d6ba419d2b33a8ab4fd662189bfd8a31" class="bg-white resize-x overflow-auto">
              

                        <!--priview-->
                        <div class="p-8 flex items-center justify-center bg-white">
                            <div class="w-full max-w-xs mx-auto " [ngClass]="previewScreenSize">
                                
                     

                          <div >
                            <div class="form-control"> 
                                <label for="email" class="label">Email</label>       
                                    <div class="mt-1">          
                                        <input type="email" name="email" class="input" id="email"  placeholder="you@example.com">  
                                    </div>  
                                </div>
                          </div>
                        
                            </div>
                          </div>


                        </div>

                        <!--preview-->


                    <div 
                        class="hidden absolute opacity-0 inset-0 mr-4 pointer-events-none sm:block">
                    </div>
                    <div x-ref="handle" 
                        class="sr-only sm:not-sr-only sm:border-l sm:bg-gray-100 sm:absolute sm:right-0 sm:inset-y-0 sm:flex sm:items-center sm:w-4 cursor-[ew-resize]"
                        style="touch-action: none">
                        <div class="absolute inset-y-0 -inset-x-2"></div>
                        <svg aria-hidden="true" class="h-4 w-4 text-gray-600 pointer-events-none"
                            fill="currentColor" viewBox="0 0 24 24">
                            <path d="M8 5h2v14H8zM14 5h2v14h-2z" />
                        </svg>
                    </div>

                    
                </div>
            </div>
        </div>
        <div [ngClass]="{ 'block': withLabelactiveTab === 'code', 'hidden': withLabelactiveTab !== 'code' }"
            class="hidden bg-black overflow-auto relative">
            <div class="text-gray-50 text-xs">
                <pre class="language-markup break-all"><code class="language-markup break-all">
                  {{codePreview}}
                </code></pre>

               
        </div>



        </div>

      




</section>





