[multiple],
[type="date"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  border-radius: 0;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

select {
  /* background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e); */
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}

.btn {
  @apply px-4 py-2 bg-blue-100 text-white;
}

/*inputgroups*/

.form-control .input {
  @apply shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md;
}
.form-control .label {
  @apply block text-sm font-medium text-gray-700;
}

.form-control .help-text {
  @apply mt-2 text-sm text-gray-500;
}
.form-control .input-error {
  @apply block w-full pr-10 border-red-300 text-red-900 placeholder-red-300 focus:outline-none focus:ring-red-500 focus:border-red-500 sm:text-sm rounded-md;
}
.form-control .error-text {
  @apply mt-2 text-sm text-red-600;
}
.form-control .hint-text {
  @apply text-sm text-gray-500;
}

/* alert ---------------------------- */

.alert {
  @apply rounded-md  p-4;
}
.alert .title {
  @apply text-sm font-medium;
}
.alert .description {
  @apply mt-2 text-sm;
}
.alert .description-only {
  @apply text-sm;
}
.alert .alert-ul {
  @apply list-disc pl-5 space-y-1;
}
.alert .alert-btn {
  @apply inline-flex px-2 py-1.5 rounded-md text-sm font-medium focus:outline-none focus:ring-2 focus:ring-offset-2;
}
.alert .alert-a {
  @apply whitespace-nowrap font-medium;
}
.accent-border {
  @apply border-l-4;
}
