/* You can add global styles to this file and also import other style files */
@import "~prismjs/plugins/toolbar/prism-toolbar.css";
@import "~prismjs/themes/prism-okaidia";
/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Sora:wght@100;600&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto+Mono:wght@400;500;600;700&family=Sora:wght@400;600;700&display=swap");
@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  :root {
    --color-brand-brand-confident-orange: #ff3300;
    --color-brand-brand-mature-blue-light: #e6eaeb;
    --color-brand-brand-mature-blue-dark: #012a38;
    --color-brand-brand-spunky-lime-light: #bff90b;
    --color-brand-brand-spunky-lime-dark: #344303;
    --color-brand-brand-clarity-blue-light: #a2c1c4;
    --color-brand-brand-clarity-blue-dark: #293031;
    --color-brand-brand-clarity-ivory-light: #e0dbc6;
    --color-brand-brand-clarity-ivory-dark: #e0dbc6;
    --color-primary-50: #e6f6ff;
    --color-primary-100: #b8e5fd;
    --color-primary-200: #8acff4;
    --color-primary-300: #5cb5e5;
    --color-primary-400: #2e99d1;
    --color-primary-500: #117db6;
    --color-primary-600: #006ca7;
    --color-primary-700: #005e91;
    --color-primary-800: #004b74;
    --color-primary-900: #00324d;
    --color-neutral-50: #f8f8f8;
    --color-neutral-100: #efefef;
    --color-neutral-200: #d6d6d6;
    --color-neutral-300: #bcbcbc;
    --color-neutral-400: #a3a3a3;
    --color-neutral-500: #898989;
    --color-neutral-600: #707070;
    --color-neutral-700: #575757;
    --color-neutral-800: #3d3d3d;
    --color-neutral-900: #242424;
    --color-red-50: #ffebeb;
    --color-red-100: #fcc8c7;
    --color-red-200: #faa4a2;
    --color-red-300: #f78786;
    --color-red-400: #f75e5c;
    --color-red-500: #e53c39;
    --color-red-600: #c22321;
    --color-red-700: #991412;
    --color-red-800: #6e0908;
    --color-red-900: #380100;
    --color-yellow-50: #fff5d9;
    --color-yellow-100: #fae6aa;
    --color-yellow-200: #f5d987;
    --color-yellow-300: #edc95f;
    --color-yellow-400: #e2b739;
    --color-yellow-500: #dba507;
    --color-yellow-600: #af8406;
    --color-yellow-700: #836304;
    --color-yellow-800: #584303;
    --color-yellow-900: #2c2101;
    --color-green-50: #ecfadc;
    --color-green-100: #dcf5bf;
    --color-green-200: #caf09e;
    --color-green-300: #aee371;
    --color-green-400: #96d450;
    --color-green-500: #76bf22;
    --color-green-600: #5e991b;
    --color-green-700: #477315;
    --color-green-800: #2f4c0e;
    --color-green-900: #182607;
    --color-base-white: #ffffff;
    --color-base-black: #000000;
    --token-set-order-0: global;
  }

  .theme-leap {
    --color-brand-brand-confident-orange: #ff3300;
    --color-brand-brand-mature-blue-light: #e6eaeb;
    --color-brand-brand-mature-blue-dark: #012a38;
    --color-brand-brand-spunky-lime-light: #bff90b;
    --color-brand-brand-spunky-lime-dark: #344303;
    --color-brand-brand-clarity-blue-light: #a2c1c4;
    --color-brand-brand-clarity-blue-dark: #293031;
    --color-brand-brand-clarity-ivory-light: #e0dbc6;
    --color-brand-brand-clarity-ivory-dark: #e0dbc6;
    --color-primary-50: #e6f6ff;
    --color-primary-100: #b8e5fd;
    --color-primary-200: #8acff4;
    --color-primary-300: #5cb5e5;
    --color-primary-400: #2e99d1;
    --color-primary-500: #117db6;
    --color-primary-600: #006ca7;
    --color-primary-700: #005e91;
    --color-primary-800: #004b74;
    --color-primary-900: #00324d;
    --color-neutral-50: #f8f8f8;
    --color-neutral-100: #efefef;
    --color-neutral-200: #d6d6d6;
    --color-neutral-300: #bcbcbc;
    --color-neutral-400: #a3a3a3;
    --color-neutral-500: #898989;
    --color-neutral-600: #707070;
    --color-neutral-700: #575757;
    --color-neutral-800: #3d3d3d;
    --color-neutral-900: #242424;
    --color-red-50: #ffebeb;
    --color-red-100: #fcc8c7;
    --color-red-200: #faa4a2;
    --color-red-300: #f78786;
    --color-red-400: #f75e5c;
    --color-red-500: #e53c39;
    --color-red-600: #c22321;
    --color-red-700: #991412;
    --color-red-800: #6e0908;
    --color-red-900: #380100;
    --color-yellow-50: #fff5d9;
    --color-yellow-100: #fae6aa;
    --color-yellow-200: #f5d987;
    --color-yellow-300: #edc95f;
    --color-yellow-400: #e2b739;
    --color-yellow-500: #dba507;
    --color-yellow-600: #af8406;
    --color-yellow-700: #836304;
    --color-yellow-800: #584303;
    --color-yellow-900: #2c2101;
    --color-green-50: #ecfadc;
    --color-green-100: #dcf5bf;
    --color-green-200: #caf09e;
    --color-green-300: #aee371;
    --color-green-400: #96d450;
    --color-green-500: #76bf22;
    --color-green-600: #5e991b;
    --color-green-700: #477315;
    --color-green-800: #2f4c0e;
    --color-green-900: #182607;
    --color-base-white: #ffffff;
    --color-base-black: #000000;
    --token-set-order-0: global;
  }

  html,
  body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    @apply dark:bg-black dark:text-gray-100;
  }
}

div.code-toolbar > .toolbar > .toolbar-item > button {
  @apply bg-gray-900 p-3 top-0 rounded-lg right-0;
}

.header-menu a {
  @apply text-gray-600 text-sm font-medium;
}

.max-w-container {
  @apply m-auto;
  width: 85rem;
}

.component-box {
  @apply w-full bg-gray-100 rounded-md shadow;
}

.component-heading {
  @apply font-semibold text-lg;
}

.preview-box {
  @apply p-8 flex justify-center bg-gradient-to-b from-white to-gray-50 dark:from-gray-900 dark:to-gray-800 h-auto;
}

.preview-box-2 {
  @apply p-8 bg-gradient-to-b from-white to-gray-50 h-auto;
}

.code-toolbar {
  @apply max-w-3xl;
}

.cb-intro-copy {
  @apply my-8 p-8 pl-0 pt-0;
}
.cb-intro-copy h2 {
  @apply mb-4 max-w-2xl cb-text-h2;
}
.cb-intro-copy h3 {
  @apply mb-4 max-w-2xl cb-text-h4;
}
.cb-intro-copy p {
  @apply max-w-3xl cb-text-copy-regular;
}
.cb-intro-copy ul {
  @apply flex flex-wrap gap-6 my-8 cb-text-copy-regular;
}
.cb-intro-copy ul li {
  @apply p-6 bg-neutral-50 dark:bg-gray-800 rounded-md;
}
.cb-intro-copy ul.basic-list {
  @apply inline-flex my-8 max-w-lg;
}
.cb-intro-copy ul.basic-list li {
  @apply w-auto bg-transparent m-0 p-0;
}

.cb-content-right-panel {
  @apply hidden xl:sticky xl:top-[6rem] xl:-mr-6 xl:block xl:h-[calc(100vh-4.5rem)] xl:flex-none xl:overflow-y-auto xl:py-3 xl:pr-6;
}

.cb-content-right-panel nav {
  @apply w-64;
}
.cb-content-right-panel nav > div {
  @apply space-y-4 pl-16;
}

.cb-content-right-panel nav li {
  @apply hover:text-primary-600 cursor-pointer;
}

.cb-content-block-heading {
  @apply bg-neutral-100 text-neutral-700 w-auto cb-text-copy-small p-2 rounded-md text-center
}

* {
  scroll-behavior: smooth;
  scroll-padding-top: 100px; /* this pixel should match fixed header height */
}
