/* You can add global styles to this file, and also import other style files */
@import "~prismjs/plugins/toolbar/prism-toolbar.css";
@import "~prismjs/themes/prism-okaidia";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Sora:wght@400;600;700&display=swap');
@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  

  :root {

    --color-brand-50: 255 235 230;
    --color-brand-100: 255 214 204;
    --color-brand-200: 255 173 153;
    --color-brand-300: 255 133 102;
    --color-brand-400: 255 92 51;
    --color-brand-500: 255 51 0;
    --color-brand-600: 204 41 0;
    --color-brand-700: 153 31 0;
    --color-brand-800: 102 20 0;
    --color-brand-900: 51 10 0;


    --color-primary-50: 231 239 246;
    --color-primary-100:  206 223 237; 
    --color-primary-200:  157 191 219;
    --color-primary-300:  109 159 201;
    --color-primary-400: 60 127 183; 
    --color-primary-500: 11 95 165;
    --color-primary-600: 9 76 132; 
    --color-primary-700: 7 57 99; 
    --color-primary-800: 4 38 66; 
    --color-primary-900: 2 19 33;
      

      --color-neutral-50: 241 242 243;
      --color-neutral-100: 217 221 223;
      --color-neutral-200: 180 187 190;
      --color-neutral-300: 142 152 158;
      --color-neutral-400: 105 118 125;
      --color-neutral-500: 67 84 93;
      --color-neutral-600: 54 67 74;
      --color-neutral-700: 40 50 56;
      --color-neutral-800: 27 34 37;
      --color-neutral-900: 13 17 19;
     


      --color-red-50: 255 230 231;
      --color-red-100: 254 204 207;
      --color-red-200: 253 153 158;
      --color-red-300: 253 102 110;
      --color-red-400: 252 51 61;
      --color-red-500: 251 0 13;
      --color-red-600: 201 0 10;
      --color-red-700: 151 0 8;
      --color-red-800: 100 0 5;
      --color-red-900: 50 0 3;

      --color-orange-50: 255 241 230;
      --color-orange-100: 255 227 204;
      --color-orange-200: 255 199 153;
      --color-orange-300: 255 172 102;
      --color-orange-400: 255 144 51;
      --color-orange-500: 255 116 0;
      --color-orange-600: 204 93 0;
      --color-orange-700: 153 70 0;
      --color-orange-800: 102 46 0;
      --color-orange-900: 51 23 0;

      --color-green-50: 230 249 235;
      --color-green-100: 204 242 214;
      --color-green-200: 153 229 173;
      --color-green-300: 102 217 132;
      --color-green-400: 51 204 91;
      --color-green-500: 0 191 50;
      --color-green-600: 0 153 40;
      --color-green-700: 0 115 30;
      --color-green-800: 0 76 20;
      --color-green-900: 0 38 10;
      

   
        
    }

    .theme-leap {
      --color-brand-50: 255 235 230;
      --color-brand-100: 255 214 204;
      --color-brand-200: 255 173 153;
      --color-brand-300: 255 133 102;
      --color-brand-400: 255 92 51;
      --color-brand-500: 255 51 0;
      --color-brand-600: 204 41 0;
      --color-brand-700: 153 31 0;
      --color-brand-800: 102 20 0;
      --color-brand-900: 51 10 0;
    
    
      --color-primary-50: 231 239 246;
      --color-primary-100:  206 223 237; 
      --color-primary-200:  157 191 219;
      --color-primary-300:  109 159 201;
      --color-primary-400: 60 127 183; 
      --color-primary-500: 11 95 165;
      --color-primary-600: 9 76 132; 
      --color-primary-700: 7 57 99; 
      --color-primary-800: 4 38 66; 
      --color-primary-900: 2 19 33;
        
    
        --color-neutral-50: 241 242 243;
        --color-neutral-100: 217 221 223;
        --color-neutral-200: 180 187 190;
        --color-neutral-300: 142 152 158;
        --color-neutral-400: 105 118 125;
        --color-neutral-500: 67 84 93;
        --color-neutral-600: 54 67 74;
        --color-neutral-700: 40 50 56;
        --color-neutral-800: 27 34 37;
        --color-neutral-900: 13 17 19;

        --color-neutral-50: 241 242 243;
        --color-neutral-100: 217 221 223;
        --color-neutral-200: 180 187 190;
        --color-neutral-300: 142 152 158;
        --color-neutral-400: 105 118 125;
        --color-neutral-500: 67 84 93;
        --color-neutral-600: 54 67 74;
        --color-neutral-700: 40 50 56;
        --color-neutral-800: 27 34 37;
        --color-neutral-900: 13 17 19;
          

     


  }

  .theme-sting {
    --color-brand-50: 255 235 230;
    --color-brand-100: 255 214 204;
    --color-brand-200: 255 173 153;
    --color-brand-300: 255 133 102;
    --color-brand-400: 255 92 51;
    --color-brand-500: 255 51 0;
    --color-brand-600: 204 41 0;
    --color-brand-700: 153 31 0;
    --color-brand-800: 102 20 0;
    --color-brand-900: 51 10 0;

    --color-lime-50: 249 254 231;
    --color-lime-100: 242 256 206;
    --color-lime-200: 229 253 157;
    --color-lime-300: 217 251 109;
    --color-lime-400: 204 250 60;
    --color-lime-500: 191 249 11;
    --color-lime-600: 153 199 9;
    --color-lime-700: 115 149 7;
    --color-lime-800: 76 100 4;
    --color-lime-900: 38 50 2;

    --color-primary-50: 230 234 235;
    --color-primary-100: 204 212 215;
    --color-primary-200: 153 170 175;
    --color-primary-300: 103 127 136;
    --color-primary-400: 52 85 96;
    --color-primary-500: 1 42 56;
    --color-primary-600: 1 34 45;
    --color-primary-700: 1 25 34;
    --color-primary-800: 0 17 22;
    --color-primary-900: 0 8 11;

    --color-neutral-50: 244 246 246;
    --color-neutral-100: 233 236 238;
    --color-neutral-200: 211 217 220;
    --color-neutral-300: 146 161 168;
    --color-neutral-400: 97 113 120;
    --color-neutral-500: 79 97 105;
    --color-neutral-600: 63 78 84;
    --color-neutral-700: 47 58 63;
    --color-neutral-800: 32 39 42;
    --color-neutral-900: 16 19 21;

    --color-green-50: 236 249 235;
    --color-green-100: 216 243 215;
    --color-green-200: 178 231 175;
    --color-green-300: 139 220 134;
    --color-green-400: 101 208 94;
    --color-green-500: 62 196 54;
    --color-green-600: 50 157 43;
    --color-green-700: 37 118 32;
    --color-green-800: 25 78 22;
    --color-green-900: 12 39 12;

    --color-orange-50: 255 249 236;
    --color-orange-100: 254 243 217;
    --color-orange-200: 254 231 179;
    --color-orange-300: 253 220 141;
    --color-orange-400: 253 208 103;
    --color-orange-500: 252 196 65;
    --color-orange-600: 202 157 52;
    --color-orange-700: 151 118 39;
    --color-orange-800: 101 78 26;
    --color-orange-900: 73 56 19;
    
    --color-red-50: 253 231 235;
    --color-red-100: 251 207 216;
    --color-red-200: 247 159 176;
    --color-red-300: 243 111 137;
    --color-red-400: 239 63 97;
    --color-red-500: 235 15 58;
    --color-red-600: 188 12 46;
    --color-red-700: 141 9 35;
    --color-red-800: 94 6 23;
    --color-red-900: 47 3 12;
}





  html,
  body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
  }
}

div.code-toolbar > .toolbar > .toolbar-item > button {
  @apply bg-gray-900 p-3  top-0 rounded-lg right-0;
}

.header-menu a {
  @apply text-gray-600 text-sm font-medium;
}

.max-w-container {
  @apply m-auto;
  width: 85rem;
}

.component-box {
  @apply w-full bg-gray-100  rounded-md shadow;
}

.component-heading {
  @apply font-semibold text-lg;
}

.preview-box{
  @apply p-8 flex justify-center bg-gradient-to-b from-white to-gray-50 h-auto;
}


