<div class=" h-3/4 relative overflow-hidden">
    <div class=" absolute w-full   -top-52 h-3/6">
      <img src="./assets/images/light-house.svg" alt="">
    </div>
     <!-- header -->


  <!--banner-->
<div class="max-w-container  m-auto h-full">
  <div class="w-3/6  ml-auto  flex items-center h-full">
    <div class="flex items-center gap-20 ">
      <div>
        <div class="text-9xl font-bold"> <span class="text-red-700">S</span>ting</div>
        <div class="text-3xl">Chargebee</div>
      </div>

      <div>
        <div class="flex items-center gap-2">
          <div><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
          </svg></div>
          <div class="text-base font-semibold">Pure CSS</div>

        </div>

        <div class="flex items-center gap-2">
          <div><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
          </svg></div>
          <div class="text-base font-semibold">Plain HTML</div>

        </div>

        <div class="flex items-center gap-2">
          <div><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
          </svg></div>
          <div class="text-base font-semibold">Required JS</div>

        </div>

      </div>
    </div>
  </div>
</div>


  </div>

  <div class="h-1/4 bg-gray-600">
    <div class="w-7/12 m-auto relative -top-14">
      <div class="w-9/12 ml-auto">
        <div class="md:grid md:grid-cols-3 gap-7">
          <div class="bg-white p-6 rounded shadow">
            <div class=" font-semibold text-xl">Get Started</div>
            <p class="text-base text-gray-500 w-10/12 pt-7">Design awesome applicaitons with pure CSS & HTML components. </p>
          </div>
  
          <div class="bg-white p-4 rounded shadow">
            <div class=" font-semibold text-xl">Components </div>
            <p class="text-base text-gray-500 w-10/12"> Check out light-weight interactive components based with tailwind CSS & Alphine Js for </p>
          </div>
  
          <div class="bg-white p-4 rounded shadow">
            <div class=" font-semibold text-xl">Modules</div>
            <p class="text-base text-gray-500 w-10/12">Don’t worry about starting your design from scratch. We have high-fidelity design templates for all the modules in Chargebee. </p>
          </div>
        </div>
      </div>
    </div>
  </div>