<p class="cb-text-copy-large mt-4 leading-6"> Toggles are a common design pattern used to allow users to switch between
  two states.
</p>




<app-common [activeTab]="'preview'" [codePreview]="convertedDatas[0].code" [codeHtml]="convertedDatas[0].code"
  [title]="convertedDatas[0].title">

  <div class="preview-box !justify-start">

    <div class="w-full max-w-xl">
      <div class="flex gap-3 toggle" appToggle>
        <div class="isActive">
          <button type="button" class="toggle-btn" role="switch" aria-checked="false">
            <span class="sr-only">Use setting</span>
            <span aria-hidden="true" class="toggle-shape"></span>
            <span aria-hidden="true" class="toggle-btn-default enabled"></span>
            <span aria-hidden="true" class="toggle-switch enabled"></span>
          </button>
        </div>
        <div class="inActive">
          <button type="button" class="toggle-btn" role="switch" aria-checked="false">
            <span class="sr-only">Use setting</span>
            <span aria-hidden="true" class="toggle-shape"></span>
            <span aria-hidden="true" class="toggle-btn-default not-enabled"></span>
            <span aria-hidden="true" class="toggle-switch not-enabled"></span>
          </button>
        </div>
      </div>
    </div>

  </div>



</app-common>


<app-common [activeTab]="'preview'" [codePreview]="convertedDatas[1].code" [codeHtml]="convertedDatas[1].code"
  [title]="convertedDatas[1].title">

  <div class="preview-box !justify-start">

    <div class="form-control">

      <div class="toggle-group">

        <div class="toggle-item">
          <div>
            <span class="!font-medium">Annual billing</span>
          </div>
          <div class="toggle" appToggle>
            <div class="isActive">
              <button type="button" class="toggle-btn" role="switch" aria-checked="false">
                <span class="sr-only">Use setting</span>
                <span aria-hidden="true" class="toggle-shape"></span>
                <span aria-hidden="true" class="toggle-btn-default enabled"></span>
                <span aria-hidden="true" class="toggle-switch enabled"></span>
              </button>
            </div>
            <div class="inActive">
              <button type="button" class="toggle-btn" role="switch" aria-checked="false">
                <span class="sr-only">Use setting</span>
                <span aria-hidden="true" class="toggle-shape"></span>
                <span aria-hidden="true" class="toggle-btn-default not-enabled"></span>
                <span aria-hidden="true" class="toggle-switch not-enabled"></span>
              </button>
            </div>
          </div>
        </div>

        <!-- item -->

      </div>

    </div>

  </div>
</app-common>


<app-common [activeTab]="'preview'" [codePreview]="convertedDatas[2].code" [codeHtml]="convertedDatas[2].code"
  [title]="convertedDatas[2].title">

  <div class="preview-box !justify-start">

    <div class="form-control">

      <div class="toggle-group">

        <div class="toggle-item">
          <div>
            <span>Annual billing</span>
            <span>(Save 10%)</span>
          </div>
          <div class="toggle" appToggle>
            <div class="isActive">
              <button type="button" class="toggle-btn" role="switch" aria-checked="false">
                <span class="sr-only">Use setting</span>
                <span aria-hidden="true" class="toggle-shape"></span>
                <span aria-hidden="true" class="toggle-btn-default enabled"></span>
                <span aria-hidden="true" class="toggle-switch enabled"></span>
              </button>
            </div>
            <div class="inActive">
              <button type="button" class="toggle-btn" role="switch" aria-checked="false">
                <span class="sr-only">Use setting</span>
                <span aria-hidden="true" class="toggle-shape"></span>
                <span aria-hidden="true" class="toggle-btn-default not-enabled"></span>
                <span aria-hidden="true" class="toggle-switch not-enabled"></span>
              </button>
            </div>
          </div>
        </div>

        <div class="toggle-item">
          <div>
            <span>Monthly billing</span>
            <span>(Save 5%)</span>
          </div>
          <div class="toggle" appToggle>
            <div class="isActive">
              <button type="button" class="toggle-btn" role="switch" aria-checked="false">
                <span class="sr-only">Use setting</span>
                <span aria-hidden="true" class="toggle-shape"></span>
                <span aria-hidden="true" class="toggle-btn-default enabled"></span>
                <span aria-hidden="true" class="toggle-switch enabled"></span>
              </button>
            </div>
            <div class="inActive">
              <button type="button" class="toggle-btn" role="switch" aria-checked="false">
                <span class="sr-only">Use setting</span>
                <span aria-hidden="true" class="toggle-shape"></span>
                <span aria-hidden="true" class="toggle-btn-default not-enabled"></span>
                <span aria-hidden="true" class="toggle-switch not-enabled"></span>
              </button>
            </div>
          </div>
        </div>

        <!-- item -->

      </div>

    </div>

  </div>
</app-common>



<app-common [activeTab]="'preview'" [codePreview]="convertedDatas[3].code" [codeHtml]="convertedDatas[3].code"
  [title]="convertedDatas[3].title">

  <div class="preview-box !justify-start">

    <div class="form-control">

      <div class="toggle-group inline">

        <div class="toggle-item">
          <div>
            <span>Annual billing</span>
            <span>(Save 10%)</span>
          </div>
          <div class="toggle" appToggle>
            <div class="isActive">
              <button type="button" class="toggle-btn" role="switch" aria-checked="false">
                <span class="sr-only">Use setting</span>
                <span aria-hidden="true" class="toggle-shape"></span>
                <span aria-hidden="true" class="toggle-btn-default enabled"></span>
                <span aria-hidden="true" class="toggle-switch enabled"></span>
              </button>
            </div>
            <div class="inActive">
              <button type="button" class="toggle-btn" role="switch" aria-checked="false">
                <span class="sr-only">Use setting</span>
                <span aria-hidden="true" class="toggle-shape"></span>
                <span aria-hidden="true" class="toggle-btn-default not-enabled"></span>
                <span aria-hidden="true" class="toggle-switch not-enabled"></span>
              </button>
            </div>
          </div>
        </div>

        <div class="toggle-item">
          <div>
            <span>Monthly billing</span>
            <span>(Save 5%)</span>
          </div>
          <div class="toggle" appToggle>
            <div class="isActive">
              <button type="button" class="toggle-btn" role="switch" aria-checked="false">
                <span class="sr-only">Use setting</span>
                <span aria-hidden="true" class="toggle-shape"></span>
                <span aria-hidden="true" class="toggle-btn-default enabled"></span>
                <span aria-hidden="true" class="toggle-switch enabled"></span>
              </button>
            </div>
            <div class="inActive">
              <button type="button" class="toggle-btn" role="switch" aria-checked="false">
                <span class="sr-only">Use setting</span>
                <span aria-hidden="true" class="toggle-shape"></span>
                <span aria-hidden="true" class="toggle-btn-default not-enabled"></span>
                <span aria-hidden="true" class="toggle-switch not-enabled"></span>
              </button>
            </div>
          </div>
        </div>

        <!-- item -->

      </div>

    </div>

  </div>
</app-common>


<p class="cb-text-h3 pt-10" id="c2">Guidelines</p>



<div class="cb-intro-copy">

  <p>Toggles are a common design pattern used to allow users to switch between two states. Here are some guidelines for
    designing toggle elements within a design system:</p>

  <ul>
    <li><strong>Use clear, descriptive labels:</strong> The labels for the toggle should clearly describe the two states
      and the action that will be taken when the toggle is activated.</li>

    <li><strong>Use appropriate visual hierarchy:</strong> Make it easy for users to identify the current state of the
      toggle and the available options for switching between states. This can be achieved through the use of visual
      hierarchy, such as using larger or bolder text for the active state and smaller, lighter text for the inactive
      state.</li>

    <li><strong>Consider mobile-friendliness:</strong> When designing for small screens, consider how the toggle will be
      displayed. It may be necessary to use a different layout or truncate the labels to ensure that the toggle is easy
      to use on a smaller screen.</li>

    <li><strong>Use appropriate spacing and alignment:</strong> Proper spacing and alignment can help to make the toggle
      more legible and easier to use. Use consistent spacing between elements and align elements according to the
      overall layout of the page.</li>

    <li><strong>Provide clear feedback:</strong> When the toggle is activated, provide clear feedback to the user to
      indicate the new state. This can be achieved through the use of visual or auditory cues.</li>

  </ul>

  <p>By following these guidelines, you can help to create a toggle experience that is clear, intuitive, and easy to use
    for your users.</p>

</div>